[2020-07-27 14:55] mgautierfr commented on #311
We have to be sure that the smart solution is smart enough to not take all the memory when opening big zim file on small devices (android, ios, embedded).

In all case, the user should have the end word here. Even if they have a lot of memory, they may want to limit the cache to avoid for any reason (reserve memory for other process...)

[2020-07-27 19:30] MiguelRocha commented on #311
Yes we should care about the memory, but considering all the memory used by libzim, these caches doesn't seem to be to occupy a lot. (its basically a <primitive type, pointer type> pair for each entry.

With the priority order that I specified the end user has the end word.

[2020-07-28 15:02] kelson42 opened #384 "Versatile fulltext/title indexer"
For the moment, the fulltext indexer of the ZIM writer makes the following assumption:
* The URL attached to the indexed key words is the one in which these keywords are present

As a consequence this is not possible to:
* attach an arbitrary content URL to route to for fulltext/title indexing
* set arbitrary content to index for an article

This is a problematic limitation for warc2zim.

This tic

[2020-07-29 08:47] veloman-yunkan opened #385 "Optimization of zim::Cache"
Current implementation of the LRU-cache in `src/cache.h` can be unacceptably slow for a large number of elements and certain access patterns, since its `get()` and `put()` operations contain branches with O(N) time complexity. Given the current usage of the cache in `src/fileimple.cpp` the linear complexity is due to the `Cache::_getOldest()` member function.

[2020-07-29 09:22] MiguelRocha commented on #385
Great issue to explore. It is, definitely, the biggest performance degradation factor in libzim. I'll leave some follow-up question:

- Do we really need the cache to be LRU? __getOldest()_ is called due to this strategy.
- Are we taking advantage of using an _ordered_ std::map? should we consider a priority queue?
- For some use cases (e.g zimcheck, zimdump) we are only hiting the cache once per

[2020-07-29 15:15] kelson42 commented on #303
The best ideas of this ticket have been tracked in tickets. Closing the discussion.

[2020-07-29 15:16] #303 closed

[2020-07-29 15:28] kelson42 commented on #385
@veloman-yunkan I'm not sure if this ticket is a questionning or a kind of plan to change something... What I believe is that this is really a topic worth a discussion and would like an agreement about a better solution before making a PR.

[2020-07-29 16:09] kelson42 commented on #311
To me this is important that:
* Wee keep default values like they are currently
* We remove any dependence to ENV
* We don't have anything smart in the libzim (at least in the scope of this ticket).

So just make the two cache properly mutable for software using libzim. @veloman-yunkan Does that sounds good to you?

[2020-07-29 17:23] mgautierfr commented on #385
Honestly, I never have a look at the cache code.
And I probably should have done this before :/
I agree with you on the fact that the implementation could be greatly improved.

- I don't understand why we have a winner/looser separation. A simple ordering by serial(age) should be enough.
- A map is nice to quickly search for a key. But to keep track of the age of the entry it is useless.

We could

[2020-07-31 09:23] veloman-yunkan commented on #311
@kelson42 From the implementation perspective it is trivial. However I am not sure that sticking with the [Worse is better](https://en.wikipedia.org/wiki/Worse_is_better) software development philosophy is optimal in this case. Even if we close this ticket in such a non-sophisticated manner, we should come up with a solution that is more client-friendly.

[2020-07-31 10:16] kelson42 commented on #311
@veloman-yunkan If you believe doing [what I propose](https://github.com/openzim/libzim/issues/311#issuecomment-667026636) generates a new problem, please express it because this is not clar to me unfortunately. If you believe part of the problem is not fixed and it should, please open a new ticket.

[2020-07-31 11:28] veloman-yunkan commented on #311
@kelson42 Your proposal doesn't generate a new problem per se. It just shifts the burden of struggling with a known problem to the clients. They either have to solve that problem (determining the optimal cache size) on their own, or expose that same API, enabling the end user to control that setting. The latter may be perceived either good or bad (depending on the user). On the other hand, if appl

[2020-08-01 09:29] kelson42 commented on #311
@veloman-yunkan Thank you for clarifying your concern for me. What you have written makes sense to me but these questions are really not easy to answer now and I'm not sure about the importance of the problem... maybe the problems will stay theoritical. Who knows, at least I really don't know.

What I know:
* I like to keep problems/tickets as small as possible
* Move ahead step-by-step
* We have

[2020-08-01 09:58] veloman-yunkan commented on #311
@kelson42

Reiterating my earlier comment:

If there is a ticket for performance improvement in zimcheck/zimdump, may I be assigned to it?

[2020-08-04 22:59] legoktm opened #388 "Not compatible with meson 0.45.0 (Ubuntu Bionic)"
The README says libzim is buildable with 0.43.0 or newer. If we want to support Ubuntu Bionic (see https://github.com/kiwix/kiwix-desktop/issues/503) then we need to support 0.45.0.

However, it seems like we're using a feature implemented in 0.47.0.
[code]

The copy option was introduced in meson 0.47.0 ([reference](https://mesonbuild.com/Reference-manual.html#configure_file)).

[2020-08-05 07:10] kelson42 commented on #388
The problem here is that devs use Meson's new feature without further checkings. Does someone knows how we could avoid/workaround using copy?

[2020-08-05 07:33] kelson42 opened #389 "Debian package for libzim should be "libzim""
It is currently "zimlib" which is the (really) old name of the library.

[2020-08-05 08:43] veloman-yunkan commented on #388
A similar problem exists in kiwix-lib. Should that one be fixed too?

[2020-08-05 08:47] kelson42 commented on #388
@veloman-yunkan yes, because we want to provide our software as deb package for Ubuntu Bionic. You know how to fix it?

[2020-08-05 08:49] veloman-yunkan commented on #388
@kelson42 I have already made a PR. But I think that it must be corrected to work under Windows too.

[2020-08-05 12:54] sobaee opened #391 "Libzim for Termux app in android"
I can't install libzim in Termux app (aarch64)
I already installed app prerequisites and dependencies.
You may tell me whats the required versions of the dependecies, or how to install it manually from the source.

Please help!

[2020-08-05 12:56] kelson42 commented on #391
@sobaee Can you please put here the whole commands an log you are running please?

[2020-08-05 12:58] sobaee commented on #391
$ pip install libzim
Collecting libzim
  Using cached libzim-0.0.3.post0.tar.gz (103 kB)
  Installing build dependencies ... error
  ERROR: Command errored out with exit status 1:
   command: /data/data/com.termux/files/usr/bin/python3 /data/data/com.termux/files/usr/lib/python3.8/site-packages/pip install --ignore-installed --no-user --prefix /data/data/com.termux/files/usr/tmp/pip-build-env-cdak

[2020-08-05 13:00] kelson42 commented on #391
@sobaee I'm moving the ticket to the python binding which is the right place.

[2020-08-05 20:32] legoktm commented on #388
Yes please, I just hadn't gotten that far yet.

[2020-08-05 21:27] legoktm commented on #389
There are two names for a Debian package, the "source package" name, which is currently `zimlib`, and the "binary package" names, which are `libzim-dev` and `libzim6`.

End users should only ever interact with the latter names which already use the libzim naming, which I think is the most important.

I'll ask some more experienced Debian Developers on how difficult it is to rename the source packa

[2020-08-06 09:21] kelson42 commented on #388
@veloman-yunkan I have slightly improved the comment and will merge the PR. Thank you for the patch!

[2020-08-06 09:33] #388 closed

[2020-08-06 16:18] veloman-yunkan commented on #388
@legoktm kiwix/kiwix-lib#405 should fix a similar problem in kiwix-lib

[2020-08-08 15:26] kelson42 commented on #311
@veloman-yunkan As long you agree with @MiguelRocha about who does what and that this is clear in the tickets, this is good to me.
@MiguelRocha You have open a ticket about perf. Improvements at https://github.com/openzim/zim-tools/issues/134 but nothing about tunning the memory. Would you be able to point out to a ticket about that?

[2020-08-09 15:23] veloman-yunkan opened #394 "Streaming decompression"
Partial cluster decompression (#78) can be done if the decompression API provides a means to read and parse the data in a streaming fashion. Such an API will also enable representing in-memory clusters corresponding to compressed on-disk clusters as proposed in #395.

[2020-08-09 15:24] veloman-yunkan opened #395 "Items in an in-memory cluster as separate objects"
Currently the internal representation of an in-memory cluster (`zim::Cluster`, http://github.com/openzim/libzim/tree/6.2.0/src/cluster.h) is a single buffer (behind a `zim::Reader` interface) where different ranges correspond to different articles/items. A more optimal representation is one with a separate buffer/blob for every article/item, which will allow more granular caching on article/item l

[2020-08-09 21:37] sobaee opened #396 "Libzim for Archlinux aarch64 without compiling"
Could you make it available to install this amazing module to Archlinux (aarch64) without compiling it manually?

 Either this, or python-libzim one?

Why it just support linux (86-64) 😞?

[2020-08-10 05:59] kelson42 commented on #396
It looks like Github CI allows aarch64 https://github.com/marketplace/actions/run-on-architecture. Should be theoritically possible.

[2020-08-10 06:03] kelson42 commented on #396
@sobaee Aarch64 is an architecture mostly for mobile devices... so not really part of our priorities to have a compiled version for python-libzim. Out of curiosity, whatkin of hardware do you use?

[2020-08-10 12:36] mgautierfr commented on #396
The `run-on-architecture` action "simply" run the action under qemu to emulate a specific arch.

[2020-08-10 13:27] mgautierfr opened #397 "[SPEC] TitlePtrList should not contains all entries"
Currently the [`TitlePtrList`](https://www.openzim.org/wiki/ZIM_file_format#Title_Pointer_List_.28titlePtrPos.29) contains all the entries in the zim file, using the `NS(Title|Url)` key to sort the entries.

- Entries are sorted by namespace (NS) first.
- Then, by `title` (using the `url` if the `title` is empty).

Most of the time it is "ok" as only `A` entries have title. As we sort first by nam

[2020-08-10 15:49] mgautierfr commented on #395
This would potentially save a bit memory cache. But not necessary improve speed.

First the cluster cache is only used for compressed cluster.

If we decompress a cluster to get one article we have two options :
- Split the cluster into "items" and store all of them in the cache. It would use the same amount of memory but will increase the cache size (in number of item, see #385 about the number o

[2020-08-10 15:52] mgautierfr commented on #394
This can be done without a streaming api. As the name imply, a streaming api means that we are reading sequentially the content (no random access). This is the opposite of what we do in libzim.

The buffer interface with a `read(offset, size)` can decompress the content up to `offset+size` if needed without changing the api.

[2020-08-10 16:25] mgautierfr commented on #311
I second @veloman-yunkan here. We don't know what we need. It is useless to add a method if it will fix anything at all.

As @MiguelRocha points it in openzim/zim-tools#134, the dirent cache take a lot of times. But changing the cache size (increase or decrease it?) may not help. Maybe the solution is to fix the cache system itself (#385)

And I think it make less sens to configure a cache system

[2020-08-10 16:46] veloman-yunkan commented on #394
I target the compression API found in [`src/compression.h`](https://github.com/openzim/libzim/blob/6.1.8/src/compression.h):

[code]

which can only be used to decompress all of data hiding behind a reader. By streaming API I mean a use model where I can create a decompressor object functionally equivalent to a C++ `istream` and pull decompressed data from it as needed.

Pseudocode:

[code]

[2020-08-10 17:09] mgautierfr commented on #394
We have this in our git history (#44)

[2020-08-11 09:27] sobaee commented on #396
@mgautierfr
I just know some informations about archlinux and some commands which needed by a simple user

Could you just explain this with details, please?

[2020-08-11 09:40] mgautierfr commented on #396
It is just a comment about how the `run-on-architecture` pointed by @kelson42 is working. There is no really more to say :)

[2020-08-12 17:27] veloman-yunkan opened #398 "Handling of multipart ZIM files is broken under MacOS"
It looks like handling of multipart ZIM files is broken under MacOS, as demonstrated by the `ZimFile.multipart` unit-test: https://github.com/openzim/libzim/pull/387#issuecomment-667708593

[2020-08-14 13:17] veloman-yunkan opened #399 "[Idea] Memory mapped dirent cache"
This is just an idea. Everyone is welcome to criticize it. I am the first to do so (compare the Pros and Cons below).

In general, caching in the applications data that resides on storage in raw form in some sense duplicates low-level caching facilities of the operating system (support for memory mapped files).

`zim::Dirent` is conceptually close to being an object that is stored in the ZIM file

[2020-08-14 21:48] veloman-yunkan commented on #398
The issue is with the implementation of `std::map::equal_range()` under MacOS (which is used in [`FileCompound::locate()`](https://github.com/openzim/libzim/blob/6.1.8/src/file_compound.h#L59-L61)) . The implementation makes assumptions about the properties of the key comparison function and abuses the `std::map` requirement that it must contain unique keys. As a result, `std::map::equal_range(k).

[2020-08-15 20:45] kelson42 commented on #398
@automactic BTW, you need to beinformed

[2020-08-15 20:45] kelson42 commented on #398
@veloman-yunkan Do you have a clue when this regression has been introduced?

[2020-08-16 15:48] veloman-yunkan commented on #398
@kelson I don't think this is a regession (at least not a recent one). It was discovered due to a new unit-test. Previously a multipart ZIM file flow was probably never exercised under MacOS.

[2020-08-16 16:19] kelson42 commented on #398
It is true that Kiwix Desktop for macOS is less used than the Windows or Linux one... but still, I wonder a bit that such a bug might have been long without beeing noticed.

[2020-08-16 16:24] veloman-yunkan commented on #398
@kelson42 How common is the use of multipart ZIM files?

[2020-08-16 16:35] kelson42 commented on #398
@veloman-yunkan less and less, but a few people have habits.

[2020-08-16 16:36] kelson42 commented on #398
@veloman-yunkan It is currently not recommended as well to use randomly splitted files as they can cut the xapian index or videos... which then become unreadable. They should use `zim-split` but almost nobody use it (binaries are only available on Linux).

[2020-08-16 17:20] veloman-yunkan commented on #398
@kelson42 Then it's unsurprising that no one has run against this issue under MacOS (since the bug is triggered only in case of multi-part ZIM files).

[2020-08-17 08:35] mgautierfr commented on #398
And splitting zim file is only needed on file system that doesn't handle file bigger than 4GB (ie, only fat32 fs on windows).

[2020-08-17 09:03] mgautierfr commented on #399
It is interesting but I'm not sure at all it is a good idea :)

The problem here is that expensive operation on dirent creation are getting the url and title. (because we don't know their length (and position for title))
Using a lazy cache to then all the time do long operation (several times) on it is somehow counterproductive.

Not so. Creating a mmap is time consuming see (https://stackoverflow

[2020-08-17 09:49] veloman-yunkan commented on #399
@mgautierfr

I guess there is some misunderstanding of the proposal. Dirent's will not be `mmap`-ed individually. The entire dirent table will be `mmap`-ed (here is why we may need to handle the case of split ZIM files by creating two or more mappings and an in-memory buffer serving as a seam between them).

When considered in isolation that's correct. But in the overall picture, the slow operatio

[2020-08-17 10:08] mgautierfr commented on #399
The main problem here is that there is no dirent table.
Nothing in the spec say how and where the dirent should be stored. Just that the offsets in `UrlPtrList` must point to a dirent. They can be put all together or sparsely.

Then we should fix the cache lookup (#385)

It is not. And the offset depends of the type of the dirent (need a 2 bytes reading (with endian conversion) to know the type)

[2020-08-17 10:22] veloman-yunkan commented on #399
In theory this is the most serious argument against my idea. However, how sparsely can the dirents be scattered inside a ZIM file in practice? In theory, they can appear even inside clusters if some fragment of a cluster (maybe even a compressed one) coincides with some dirent and the ZIM writing tool detects and decides to take advantage of that fact. In practice, dirent's must be clustered betwe

[2020-08-17 10:23] veloman-yunkan commented on #399
But the issue of the optimal cache size and syscalls in case of cache misses remains.

[2020-08-17 10:26] veloman-yunkan commented on #399
I meant *in the beginning relative to other variable sized fields*. Endian conversion can be avoided, so the overhead is just reading a `uint16_t`.

[2020-08-17 13:02] mgautierfr commented on #399
Most of the time we do only one syscall (one read) in case of cache misses. mmap may not help here.

In practice, libzim write them consecutively. But other may write them otherwise.
The difficulty is to know what are the ranges. We have to read all the offsets to know all the start of the dirents. Then we have to figure a way to detect dirents' regions (without knowing the size of the dirents).

[2020-08-17 13:07] #398 closed

[2020-08-17 13:41] veloman-yunkan commented on #399
I don't get this point.

You make the proposal look at a disadvantage to the *simple read/parse* by decomposing into lower-level steps the former but not the latter. This form of argument reminds me of a tale where a sly man convinces a simpleton that he could walk/run faster than a horse, because while the horse would move his legs oooneee-twooooo-threeeeee-fooooouuuur, he could quickly do one-tw

[2020-08-17 13:53] mgautierfr commented on #399
Most of the time we need only only one syscall (one read) to read a dirent.
The `urlPtrList` is already mmaped (so getting the offset from it is no syscall). We read (syscall) the content of the dirent into an already allocated buffer. The parsing of the buffer is done without syscall.

We may end with more syscall with the rare case of the dirent is bigger than 256 bytes or the dirent is in two d

[2020-08-17 14:16] mgautierfr commented on #399
Because `Access to individual fields of a dirent will become more costly.`

You will have to solve `The difficulty is to know what are the ranges. We have to read all the offsets to know all the start of the dirents. Then we have to figure a way to detect dirents' regions (without knowing the size of the dirents` before.

And then, we will compare a solution without cache with a solution with a po

[2020-08-17 14:26] veloman-yunkan commented on #399
OK

[2020-08-17 14:30] veloman-yunkan commented on #385
@mgautierfr @kelson42 Before optimizing (rather, reimplementing) our own cache, maybe it makes sense to use a 3rd-party cache?

[2020-08-17 14:36] veloman-yunkan commented on #385
My own plan was to implement something like https://github.com/lamerman/cpp-lru-cache, with the only difference of using an `std::map` instead of an `std::unordered_map`.

[2020-08-17 14:53] mgautierfr commented on #385
I had a look in the implementation and it seems good.
And it is a header only library (as mustache). It should be relatively easy to compile on all platforms.

It should be pretty easy to test (at least) cache implementation/efficiency and take decision based on results.

[2020-08-17 15:18] mgautierfr commented on #345
Closed with #378

[2020-08-17 15:18] #345 closed

[2020-08-18 09:43] mgautierfr commented on #365
First documentation system is merge with #401

[2020-08-18 09:43] #365 closed

[2020-08-19 15:11] kelson42 commented on #325
Implementation has started

[2020-08-19 15:11] #325 closed

[2020-08-19 15:30] veloman-yunkan commented on #385
Benchmarking [cpp-lru-cache](https://github.com/lamerman/cpp-lru-cache) against the current implementation of `zim::Cache` promises significant speed-up of zimcheck:

|   ZIM file     |    size (MB) | article count | cluster count | zimcheck -A runtime (zim::Cache) |  zimcheck -A runtime (cpp-lru-cache) |
|------|----|-----|-----|------|---------------------|
|  wikipedia_en_climate_change_nopic_2

[2020-08-19 15:32] veloman-yunkan commented on #385
Now how do we proceed from here? cpp-lru-cache needs a couple of minor modifications. On the other hand it small & simple to an extent that if I implemented it on my own (instead of googling) we might spend overall less time than if we decide to integrate cpp-lru-cache in libzim.

[2020-08-19 16:05] mgautierfr commented on #385
The speed up is good. Promising.
In top of that, `zimcheck -A` does a lot of check that spend time.
Can you do another benchmark with zimcheck only ensuring that we are looping over all dirent/cluster but do no check ?
(Only check for internal link and patch getLink function to do nothing and return empty vector should do the trick). This way we would really (more) benchmark the cache speedup.

Wh

[2020-08-19 16:22] kelson42 commented on #385
Two remarks:
* @legoktm You might be interested by this discussion
* @veloman-yunkan We might need such an algorithm/code in kiwix-serve as well to fix https://github.com/kiwix/kiwix-tools/issues/142

[2020-08-19 19:18] veloman-yunkan commented on #385
One more datapoint. Having performed in the context of a different PR a [similar benchmark](https://github.com/openzim/libzim/pull/386#issuecomment-672984649) on a different machine using an earlier version of the "same" ZIM file, I've then observed about 2x shorter runtimes. The difference was unlikely to be attributed to the difference in hardware, so I also ran that earlier ZIM file on my deskt

[2020-08-19 20:02] legoktm commented on #385
Thanks for the ping. It doesn't look like any distro has packaged cpp-lru-cache. It also seems inactive with no commits since 2017.

It's only about 70 lines, so given that we also need to modify it, I'd suggest just including that header file in the libzim code (with proper attribution/licensing of course), treating it as one of "our" files rather than trying to use it as a library.

[2020-08-20 08:48] mgautierfr commented on #385
I don't know, zim structures seems relatively identical.
I've you tried to run the tests several times ? Maybe the difference is because of the fs cache, it could be pretty important.

[2020-08-20 21:04] kelson42 commented on #385
@veloman-yunkan You have been able to explain the oddity you reported earier?

[2020-08-20 21:15] veloman-yunkan commented on #385
@kelson42 No, I haven't looked into it yet. One hypothesis is the cache overflow - if the new & slightly larger data requires a larger resident set size, this may lead to significantly higher number of cache misses, provided that the RSS (in terms of utilized cache entries) of the earlier/smaller data was close to the cache size limit.

[2020-08-20 21:23] veloman-yunkan commented on #385
@kelson42 But the actual reason shouldn't prevent us from switching to the better cache. I will debug the noticed oddity later.

@mgautierfr I am not going to spend time on this for the same reason. It is obvious that cpp-lru-cache is significantly faster and we should switch to it in any case.

You can see them in #405. But I am going to improve the new cache a little more.

[2020-08-20 21:37] veloman-yunkan commented on #385
I repeated the slow runs twice in a row and the run-time figures stayed the same.

[2020-08-24 07:53] kelson42 commented on #395
@veloman-yunkan Now that the most of the work has been done in the cache. Should we do these measurements now?

[2020-08-27 11:48] kelson42 opened #407 "getNamespaceEndOffset() and getNamespaceBeginOffset() return wrong values"
it seems that neither getNamespaceEndOffset and getNamespaceBeginOffset return good value for limits value (missing namespace at the border of the range and touching existing namespace).

Follower of https://github.com/openzim/libzim/pull/382#issuecomment-681836803

[2020-08-27 15:45] mgautierfr opened #409 "Make xapian a mandatory dependency ?"
For now the xapian dependency is officially optional.

However, building libzim without xapian is not tested and I'm not sure it is actually working.
On top of that, I don't see a real use case of libzim without xapian. Every one is using it.

It would make sense to make xapian mandatory.

@kelson42 What do you think about this ?

[2020-08-27 16:59] kelson42 commented on #409
@mgautierfr I don't believe it is a good idea.... but I don't have a super strong argument. I propose to keep this ticket open so I think twice and even more about this question. We could gather other opinions as well.

[2020-08-28 11:07] kelson42 commented on #379
@mgautierfr @veloman-yunkan What is exactly left to do here?

[2020-08-28 11:35] kelson42 commented on #336
@MiguelRocha This should be checked in the libzim but for the users via zimcheck.

[2020-08-28 11:42] veloman-yunkan commented on #379
I think that the access to the dirent cache must be addressed in a different way. I vote for closing this ticket.

[2020-08-28 11:54] kelson42 commented on #379
@veloman-yunkan Thank you for your feedback. I agree with you. But I would like to secure that we keep track of the dirent cache topic properly. Would you be able please to open this ticket? I would then link this ticket to it and close it?

[2020-08-28 13:40] veloman-yunkan opened #410 "Optimization of random access to dirents"
Dirents are the second biggest type of data in ZIM files. In certain scenarios, for example `zimcheck -U`, random access to dirents can be a serious source of sub-optimal performance (need to support this claim with factual evidence). Current implementation of dirent caching doesn't solve the stated problem in the best way (for example, one has to care about the dirent cache size).

This ticket wa

[2020-08-28 13:41] veloman-yunkan commented on #379
@kelson42 Done

[2020-08-28 13:58] #379 closed

[2020-08-30 10:11] Jaifroid commented on #84
I am a bit confused by the GoldenDict implementation. It appears to calculate the cluster size before decompressing the cluster by subtracting the beginning of the cluster from the beginning of the next cluster:

https://github.com/goldendict/goldendict/blob/master/zim.cc#L322

Is this actually a useful heuristic to know "roughly" how much data we are dealing with?

[2020-08-30 14:10] kelson42 commented on #395
I support this

[2020-08-31 08:16] mgautierfr commented on #84
Yes. This is a useful heuristic but there is no guaranty that cluster are written sequentially.
We have changed this in libzim in https://github.com/openzim/libzim/pull/210

[2020-08-31 08:28] mgautierfr commented on #409
In https://github.com/kiwix/kiwix-tools/issues/369 you don't want to add a option to disable fulltext search. If we always want fulltext (and title) search, we should have xapian mandatory.

Do you no some use case of having libzim without xapian ?

[2020-08-31 08:38] Jaifroid commented on #84
OK, thanks @mgautierfr . I'm now quite close to completing the Kiwix JS implementation of ZSTD decompression. The goldendict version suddenly made me think our implementation was over-complicated, and we might just be able to decompress a whole cluster in one go, but it's clearly not safe even if it would work most of the time.

So instead we decompress from the start of the cluster up to the end

[2020-08-31 09:03] mgautierfr commented on #84
Why this is not safe to decompress the whole cluster ?

This is a complex problem (not on the code side, but on what is the best strategy).
We are currently trying to solve this with #78, #394 and #395 and #411

[2020-08-31 09:14] Jaifroid commented on #84
I meant it's not safe to do it using values calculated by subtracting the current cluster offset from the beginning of the next cluster offset, for the reason you state (they are not guaranteed to be written consecutively). So in Kiwix JS we currently decompress just "enough" data for the blob requested, and then start again for the next blob. We have an experimental cluster cache made by peter-x

[2020-08-31 09:43] mgautierfr commented on #84
Indeed, if you use the next offset as end offset, it is not safe.

In libzim (for now), we decompress the whole compressed stream (and let lzma/zlib/... detect the end of the stream).

[2020-08-31 10:05] mgautierfr opened #414 "libzim doesn't compile on windows."
See https://ci.appveyor.com/project/Kiwix/kiwix-build/builds/34908813

It seems that there is a ambiguity with the possible implementations of `!=` within the lru_cache.
(Between some implemation in (MSVC) `xmemory` and in [`zim_types.h`](https://github.com/openzim/libzim/blob/master/src/zim_types.h#L65-L66)

[code]

[2020-08-31 13:18] kelson42 opened #417 "Can we use Xapian DB_NO_TERMLIST to save ft space?"
https://xapian.org/docs/apidoc/html/namespaceXapian.html#abeb301c332a66efdb695447666c53726

[2020-08-31 13:54] #414 closed

[2020-09-02 09:24] #336 closed

[2020-09-02 12:21] mgautierfr opened #418 "Search suggestion performance analysis"
Following the issue kiwix/kiwix-android#2082 I've made some test searching suggestion on a low device.

I'm testing on a RaspberryPi 3b, the zim file is `wikipedia_en_all_maxi_2020-08.zim` stored on a external usb disk.
I'm using `kiwix-search` tool to search over the zim file (`kiwix-search <zimfile> -s <query>`), recompiled with some timing trace. It should be pretty equivalent of what is made o

[2020-09-02 12:24] mgautierfr commented on #418
Ping @macgills (I cannot assign the issue to you :/)

[2020-09-02 21:39] dbedrenko commented on #418
Thanks for the detailed analysis. I am wondering why the search was instantaneous in kiwix-android v2.5 (and whatever libzim accompanied it) with the 2018-10 en_all_maxi?

Why was the old version so much faster? What was changed in the software to cause this?

[2020-09-03 08:45] mgautierfr opened #419 "Packaging status in README."
We recently introduce a "status badge" in the README to have the packaging status of libzim in different distribution.

I'm not against "status badge" but here it takes a lot of space (more than one screen).
Is this status really necessary ? It is possible to have a smaller version (same size than other badges) ?

[2020-09-03 08:48] mgautierfr commented on #305
New api (libzim_next) does this.

[2020-09-03 08:50] #305 closed

[2020-09-03 08:54] data-man commented on #419
Many projects has packaging status in wiki pages.

[2020-09-03 08:56] kelson42 commented on #419
This is an interesting idea, we could bind this page with one badge "packages" in the README.

[2020-09-03 08:57] data-man commented on #419
https://github.com/ziglang/zig/wiki/Install-Zig-from-a-Package-Manager

[2020-09-03 10:34] macgills commented on #418
On the android side I think the coroutines implementation along with an actual UI state for "search in progress" will go a long way. The API has also been updated to be thread safe right so I can avoid the creation of a new reader per search?
There may also be the upside of "multizim tabs" will mean there will be an LRU cache of zim readers which may avoid this being an issue too commonly?

[2020-09-03 12:51] mgautierfr commented on #418
New libzim use xapian database to search for suggestions. In old version we where simply searching for article's titles starting by the query.

Not yet. However, the creation of a new reader should be quick as you already have one and so the page cache is already populated.

Not sure to understand this point.
The page cache is handled by linux itself. We do nothing specific on our side. If we open

[2020-09-04 08:26] macgills commented on #418
This might be my lack of knowledge on the internals of kiwixlib but talking from the client perspective the app only keeps 1 Reader in memory at a time, when we open a new 1 we call `dispose` on the old one. Some exceptions are searching (we create a new reader for the duration of the search) and when scanning the file system for zims (each file with a zim extension creates a reader temporarily to

[2020-09-10 17:05] #399 closed

[2020-09-14 10:01] mgautierfr commented on #399
To be more exact, it is not that mmap should not be used.
It is the mmap on a lot of data that may reserved a lot of (continuous) memory address.
But it really doesn't change the problem here as the idea is to map all the dirents in once.

[2020-09-15 06:56] kelson42 commented on #407
@mgautierfr What is the impact of this bug?

[2020-09-15 09:08] veloman-yunkan commented on #407
Quoting https://github.com/openzim/libzim/pull/382#issuecomment-681836803:

I think that we can afford replacing `std::map<char, article_index_t>` as the underlying container for  `NamespaceCache` with an `std::vector<article_index_t>` (where the namespace char is used as an index into the array). Then we will avoid the binary search.

[2020-09-16 15:11] kelson42 commented on #395
@mgautierfr @veloman-yunkan What is the status here? I believe this is not implement, but do we still need it? Would that still bring an improvement?

[2020-09-16 15:26] mgautierfr commented on #364
Closed by #402

[2020-09-17 12:39] kelson42 commented on #76
@veloman-yunkan What are you thoughs about that?

[2020-09-18 16:01] veloman-yunkan opened #422 "Optimize handling of non-multipart ZIM files"
Currently libzim treats all ZIM files as though they are multipart. In the light of the [declining usage of multipart ZIM files](https://github.com/openzim/libzim/issues/398#issuecomment-674548302), it makes (and has always made) sense to handle single-part ZIM files in a dedicated (simpler and more efficient) way. That can be done at no extra runtime overhead due to the polymorphic `Reader` inter

[2020-09-19 11:22] kelson42 commented on #320
@mgautierfr @veloman-yunkan What has to be done to complie libzim without Xapian?

[2020-09-19 11:28] kelson42 commented on #237
I suspect this should be checked at zimcheck level as this a sementic problem than a Zim syntaxic one.

[2020-09-19 14:45] veloman-yunkan commented on #320
@kelson42 First of all the code has to be fixed

[2020-09-20 14:08] kelson42 commented on #320
@veloman-yunkan What is the problem with the code? Do we have a ticket somewhere about that?

[2020-09-20 15:50] veloman-yunkan commented on #320
@kelson42 Matthieu has recently filed #409

[2020-09-20 15:57] kelson42 commented on #320
#409 does not report any bug, there is nothing to fix there.

[2020-09-20 18:40] veloman-yunkan commented on #320
@kelson42 The description of #409 starts with the following two sentences:

[2020-09-20 19:30] kelson42 commented on #320
@veloman-yunkan No proper ticket detailing the bug = not a problem = nothing to fix... I don't make decisions on FUD. I would still like to know what is the way to tell meson to compile without Xapian. Might that be that this has just been forgotten?

[2020-09-20 19:41] kelson42 commented on #409
If there is a ft index in a ZIM you use it, otherwise not. This ticket about an option for kiwix-serve is totally unrelated to this one.

I had a bit of time to think about this topic and I confirm that I don't want that because there is no question to put this in the spec. And I want the ref implementation to (be able to) stick to the spec.

Xapian dep has been introduced recently in libzim as a

[2020-09-20 19:42] #409 closed

[2020-09-21 13:30] mgautierfr commented on #409
The main problem I see it is that is it not compiled nor tested (so we don't know if there is bug), and even if it was, no one is using it.
And it make the code more complex, it would be far simpler to make it mandatory.

I have no real other arguments, if/when I will found another ones, I will make you know :)

[2020-09-21 13:41] kelson42 commented on #409
@mgautierfr It should be documented and tested, because this is optional. This is why, in an attempt to resolve these problems that @JensTimmerman and me keep asking about the documentation about how to compile it without Xapian.

[2020-09-21 13:43] mgautierfr commented on #320
The first comment of https://github.com/kiwix/kiwix-lib/pull/117 says the build is broken when xapian-core is not found.
In two years, we haven't investigate this and no one complains about that.

[2020-09-21 13:46] mgautierfr commented on #320
This ticket :) There is nothing wrong from @JensTimmerman, it simply that the code is broken and don't compile without xapian.

[2020-09-21 13:59] kelson42 opened #423 "Secure proper functioning of libzim without Xapian"
Xapian is an optional dependence, but the scenario without Xapian is rare and suffer of many problems:
* The compilation without Xapian is implicite (does not compile if Xapian is not on the system). It should be explicit, ie. there should be a way to tell Meson to compile with or without Xapian.
* It seems the compilation might fail in the scenario of Xapian missing on not on the system, see http

[2020-09-21 14:01] #320 closed

[2020-09-21 14:34] mgautierfr opened #424 "Use a "fanout" algorithm to speed up search for dirent."
- The urlptrpos array list dirents using a sort by namespace and url (`N/url`) order. This allow us to do a binary search on them.
- The parsing of a dirent (at least as we do it now) is "slow". To avoid parsing dirent a lot of time, we use a cache system.
- We have a way (a map now) to allow us to search only on the range associated to the namespace. But with the "removing" of the namespace it is

[2020-09-21 14:35] mgautierfr commented on #407
The `std::map<char, article_index_t>` is pretty small (it contains only few items, `A`, `I`, `J`, `X`, `M` and `-`. On new zim files it will contains only `M`, `X` and `C`).

But I agree with the idea of a vector. It is what I called a "fanout" algorithm in our previous discussions. I've just opened https://github.com/openzim/libzim/issues/424 to speak about it.

[2020-09-22 06:52] veloman-yunkan commented on #76
@kelson42 If we talk about support for external dictionaries in zstd (which we can take advantage of and store various dictionaries as a non-user-visible items in the ZIM file), then it seems that we won't save much. Citing [Zstd documentation](https://github.com/facebook/zstd#the-case-for-small-data-compression) (the emphasis is mine):

But, as @mgautierfr has noted above, we can try to take adva

[2020-09-22 07:35] kelson42 commented on #76
@mgautierfr @veloman-yunkan Thank you for your helpful answers. To me, it seems that the (still somehow hypothetical advantages) don't counterbalance the investment we would have to do to get this done... I'm for sure not ready to start an effort to get ride of clusters. For this reason I will close this ticket as won't fix.

[2020-09-22 07:35] #76 closed

[2020-09-22 14:32] kelson42 commented on #418
@mgautierfr Would you be able please to transform this ticket in actionable tickets?

[2020-09-23 16:04] mgautierfr commented on #395
I don't know if we need this.
We have made great improvements on the cache system and the partial cluster decompression.

Caching item's data individually will allow the cache to drop the unused item. We will win memory but in the same time we may have to decompress cluster data several times.
I have no clue at all if it will be a win or a lost.

[2020-09-23 17:01] veloman-yunkan commented on #395
Then let's not chase it.

[2020-09-23 17:01] #395 closed

[2020-09-23 17:23] #78 closed

[2020-09-23 17:23] #394 closed

[2020-09-23 17:26] kelson42 commented on #410
@veloman-yunkan @mgautierfr What is the plan here?

[2020-09-23 17:28] kelson42 commented on #311
@veloman-yunkan What approach do you want to follow for this ticket? Do you want to finish https://github.com/openzim/zim-tools/issues/69 (introducing multithreading) and see if this is readlly needed?

[2020-09-23 18:29] JensTimmerman commented on #409
@mgautierfr I was using it and there is a bug, see #320 libzim can currently not be built correctly without having Xapian available on the system.

I do agree it would be far simpler to make it mandatory...
Perhaps for now the bug in the documentation claiming that it is optional could be fixed and then add it aas optionional again if a solution to make it optional has been found?

[2020-09-23 20:24] JensTimmerman commented on #320
I complained in this ticket ;)

[2020-09-23 21:23] legoktm opened #427 "ClusterTest.read_extended_cluster failing on armhf architecture"
The most recent builds of libzim in the PPA are failing on the armhf architecture:

[code]

I can provide the full build log if you need it.

[2020-09-24 04:47] kelson42 commented on #427
I wonder why our CI did not cautch that one? We don't test on armfh?

[2020-09-24 06:39] legoktm commented on #427
Correct, CI is just on amd64 for now. I'm sure it's theoretically possible to set up CI for armhf, but I haven't looked into that yet.

[2020-09-24 07:17] kelson42 commented on #427
There is as well a new warning, which might be good to remove:
[code]

[2020-09-25 20:07] veloman-yunkan commented on #427
@legoktm I have a [tentative fix](https://github.com/openzim/libzim/pull/428) for this issue based solely on code review. Will you please check that it indeed fixes the bug?

[2020-09-26 08:48] kelson42 commented on #427
@veloman-yunkan Thx for the quick fix. It might be defficult for @legoktm (our Debian packager) because the problem has poped up in our PPA CI which is not under our control.

I wonder a bit that such a fix impacts only certain architectures... Looks like a generic bug. If confirmed, I suspect we can just go one with the review and we will see if that fixes as well our ARM bug.

Otherwise, what ab

[2020-09-27 06:32] veloman-yunkan commented on #427
Fixed that one too.

[2020-09-27 07:10] kelson42 commented on #427
@veloman-yunkan Perfect, thx for having put your PR in review.

[2020-09-27 19:47] veloman-yunkan commented on #407
It looks like only `getNamespaceEndOffset()` was buggy

[2020-09-28 08:42] kelson42 opened #431 "lzma compression should generate a warning"
Ultimate goal is to have only have zstd as compression/decompression aglorithm. We need to go this to simplify the maintenance. Therefore we need to discourage people to use xz/lzma compression. This ticket request that a "deprecated" warning is displayed if poeple want to use libzim xz compression to create ZIM file. At the same time, the zstd decompression should be made default.

[2020-09-30 09:37] #427 closed

[2020-09-30 09:50] mgautierfr opened #432 "Introduce `Formatter` in libzim."
This class is nice. I may worth to move this in libzim's tools and use it everywhere we create a stringstream in our code.
This could even be merged with a `to_string` function.

_Originally posted by @mgautierfr in https://github.com/openzim/zim-tools/pull/158#discussion_r497382543_

[2020-09-30 10:50] kelson42 commented on #432
This is not really clear to me about which class and which added value this would bring.

[2020-09-30 11:57] mgautierfr commented on #432
We are speaking about the `Formatter` class @asashnov introduces in openzim/zim-tools#158

It will allow us to replace all
[code]

in our code by
[code]

[2020-09-30 12:15] #407 closed

[2020-09-30 13:49] kelson42 commented on #418
@veloman-yunkan @mgautierfr @macgills Kiwix Android 3.4.1 has brough significant improvements in term of suggestion speed. But first reports seem to indicate that this might still be too slow... and we still have serious performance problem with kiwix-serve. If the first feedbacks from 3.4.1, this ticket and its following actionable will come on the really top of the TODO list at libzim level.

[2020-10-01 05:36] legoktm commented on #427
Sorry, I've been busier than expected this past week. Thanks for the fix, the latest PPA builds have all passed.

In the future, I have access to servers running most architectures through Debian (slightly different than the Ubuntu PPA setups, but hopefully close enough) and can test stuff as needed.

[2020-10-01 11:40] #364 closed

[2020-10-01 11:41] #15 closed

[2020-10-02 14:36] move[bot] opened #435 "meson.build:28:0: ERROR: Native dependency 'libzim' not found, yet it does exists"
*@gnusupport commented on Oct 2, 2020, 2:23 PM UTC:*

I have installed "libzim" in /package/lib/libzim and then stowed it by using stow to /ust/local/lib and I did "ldconfig" after. I can see:

/usr/local/lib/libzim.so /usr/local/lib/libzim.so.6 /usr/local/lib/libzim.so.6.2.2

there.

Then I went to kiwix-lib directory, and tried:

meson --prefix=/package/lib/kiwix-lib . build

but I got this:

me

[2020-10-02 15:12] mgautierfr commented on #15
Just to mention it is done in libzim_next branch. Not yet in master.

[2020-10-02 15:20] mgautierfr commented on #435
We use pkgconfig to detect libraries and pkgconfig use `.pc` files.
From your location of libzim, the `libzim.pc` file should be in `/usr/local/lib/pkgconfig`.

I don't know how pkgconfig is configured on Hyperbola GNU/Linux-libre but it probably not look for pc file in this directory.
You may add this directory by setting `PKG_CONFIG_PATH` (`export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig`) then

[2020-10-02 20:04] gnusupport commented on #435
* Matthieu Gautier <notifications@github.com> [2020-10-02 18:20]:

Thank you, that is it, I got it.

My other issue is that Qt5 is so difficult to compile and Kiwix
appimage is not working.

[2020-10-03 13:18] kelson42 commented on #435
Ok, this has nothing to do with packaging. Problem solved. @gnusupport Please open a new ticket in `kiwix/kiwix-desktop` if the appimage does not work.

[2020-10-03 13:18] #435 closed

[2020-10-11 16:21] YPD-HG commented on #432
I wanna on this issue ,please assign this to me and since i am sort of new in repo your help (if needed) will be great!

[2020-10-12 09:25] mgautierfr commented on #432
Welcome @YPD-HG.
This issue should be pretty easy as the code already exists in the zim-tools repository.
It would be nice to have a two commits PR here (one to add the "formater", one other to adapt libzim code and use the "formater")

[2020-10-15 19:58] Jaifroid commented on #424
@mgautierfr I assume this would this require a change in how we read/use dirEntry lookup? Remember Kiwix JS does not use libzim: the reading of indices is fully implemented in JS (not via Emscripten). And also please remember that we *cannot* (yet...) use Xapian, so depend utterly on the title pointer list.

[2020-10-16 10:03] mgautierfr commented on #424
No, This algorithm would be implemented at reading. The fanout structure being fill while we are reading dirent. We don't plan for now any change in the way we store the dirent.

In fact, I've even not thought about this. But your comment made me :)
But if we do, it would be some kind of extra structure. The "classic" urlPtrList/TitlePtrList would still be present.

[2020-10-21 13:15] mgautierfr commented on #424
Here some more (memory) measurement/estimation about this algorithm.

Measurement are made using the script(s) at https://gist.github.com/mgautierfr/bd786cb987d581efa8af9d5de1fc7ac7

The first script (fanout_algo.py) is the one use to measure the memory usage of this algorithm.
It generates the whole fanout structure and compute the estimated memory usage.
It need a filename listing the fullurl (N

[2020-10-21 14:26] Jaifroid commented on #424
Do we have a way of testing "real-world" what the magnitude of the problem is now that namespaces are being removed? Do we have a test ZIM with no namespaces that we could do empirical measurements on?

I think what you propose is ingenious, but please humour me while I try to understand it. Is it something like this?:

* We divide the entire list of URL pointers by a certain number (8 or 16 or 32

[2020-10-21 15:15] mgautierfr commented on #424
What you propose is what @veloman-yunkan did in #430 and what I call "vector" algorithm (because the key directory entries are stored in a cpp vector).

As I said in a comment in #430, the "vector" algorithm is "just" a efficient cache system.
We need to to a binary search in the vector to find the range (if we have 1024 key, we need 10 steps) and once we have the range we do the binary search as

[2020-10-21 15:51] mgautierfr commented on #424
I've added https://gist.github.com/mgautierfr/bd786cb987d581efa8af9d5de1fc7ac7#file-fanout_en_all_19745-dump to the gist.
This is the dump of what would be the structure of the fanout tree if we fully create it, using 19745 as max length for a final range.

The beggining is :
[code]

Which can be read as :

- The first fanout node is for a '' prefix (empty prefix, depth 0).
- It goes from 0 to 202

[2020-10-22 20:13] veloman-yunkan commented on #424
Doing those measurements is helpful but it was somewhat premature. The memory usage of the "vector" approach was not fully optimized. Expect it to be reduced by half or even more

[2020-10-26 15:21] kelson42 opened #437 "Article creator getPath() works asynchronously"
But there is no proper way to know if the file at the given path can be deleted.

This is not correct, we should either:
* Have a way to know if the file has been used (callback for example)
* Read the file syncrhonously
* Remove the whole API

Follower of https://github.com/openzim/python_scraperlib/issues/69

[2020-10-27 12:59] mgautierfr commented on #437
The next api doesn't have this problem as the user code has to provide a `ContentProvider`. It is in charge to read the data and so can do as it which.

[2020-10-27 12:59] #437 closed

[2020-10-27 13:31] mgautierfr opened #438 "Cache strategy questions."
Following the PR #430, here few open questions about the cache strategy in libzim :

* Should we still use a dirent cache ? We have greatly improve  the cache performance with previous commits but it seems that this cache may become useless as we are greatly reducing the search range and there are less chances that we search in the same range again.
* We may introduce a cache `url`->`dirent` inste

[2020-10-27 14:11] #410 closed

[2020-10-27 14:11] #424 closed

[2020-10-27 14:18] mgautierfr commented on #424
This issue is closed by the merge of #430

But I'm not sure we should consider it as totally closed. The algorithm describe here may still be valid and we may move to it in the future, if needed.
For now we can keep it closed.

[2020-10-27 14:19] kelson42 commented on #424
@mgautierfr I can only encourage you to push your ideas/comments in a new ticket so this does not get forgotten. We had a successfuly speed-up project, but we might have to come back to this topic at some point in the future.

[2020-11-01 09:17] Jaifroid commented on #438
It seems to me that these questions could only be decided definitively with some metrics comparing time to first paint, binary search times (for complex searches) and time to complete load including all assets, in a large ZIM file on a lower-spec device (e.g. mobile).

All I can say is that in Kiwix JS, because JS file access is relatively slow, we have found a combination of a persistent assets c

[2020-11-01 09:31] Jaifroid commented on #422
Just to point out that many Android phones sold still today do not have support for exFAT, and still use FAT32 for microSD cards. A good example are new Android handsets produced by Nokia. This is because some manufacturers do not want to pay the small licensing fee for exFAT use. So many more users than you may be aware of have multipart files that they have downloaded in-app onto a portable micr

[2020-11-04 08:43] kelson42 commented on #376
Assigning @veloman-yunkan to help polishing the PR.

[2020-11-04 08:43] kelson42 commented on #375
Assigning @veloman-yunkan to help polishing the PR.

[2020-11-04 08:43] kelson42 commented on #359
Assigning @veloman-yunkan to help polishing the PR.

[2020-11-04 14:23] veloman-yunkan commented on #359
@mgautierfr I have the following questions/suggestions:

1. Shouldn't we provide for a way of selecting which checks to run?
2. Some checks from the above list (e.g. the sortedness of `UrlPtrList` and `TitlePtrList`) can be implemented externally using the public API of libzim. Shouldn't they rather be implemented in `zimcheck`?
3. I think that each check that cannot be implemented externally shou

[2020-11-04 14:39] kelson42 commented on #359
Just to be precise, the only expectation I have:
* libzim does not crash if corrupted ZIM file (but this is not in the scope of this ticket)
* libzim proposes a way to validate the ZIM file structure (this ticket).

As a consequence, no real two speed validation, a validation can be done at the runtime only when very cheap to be executed (we don't want to slow down the read/write process). Otherwi

[2020-11-10 16:06] mgautierfr opened #442 "Correctly write empty cluster ?"
It seems that cluster writing is buggy as we create empty cluster without offset and we should have at least one to parse it correctly.
But in the same time, we never try to write an empty cluster.

An empty cluster should be at least 1 + OFFSET_SIZE.
(OFFSET_SIZE being 4 or 8 depending if cluster is extended or not).
This is needed for the reader to know the cluster has no data. Else it will read

[2020-11-11 13:52] mgautierfr commented on #359
I've miss the comments on this issue. Sorry. I'm answering here even if my answers are a bit outdated as @kelson42 already answer and you've already made a PR.

As @kelson42 said, it may be nice but not necessary.
You already implement one in #425, it is enough.

No. The idea is to have all checks related to the zim file structure/format (valid offset, urlPtrlist sorted, ...) being done in the lib

[2020-11-11 14:31] kelson42 commented on #20
We finally decided to make it.

[2020-11-11 14:40] #359 closed

[2020-11-11 17:55] #20 closed

[2020-11-12 08:11] kelson42 commented on #357
@mgautierfr I guess you are currently implementing that one!

[2020-11-15 07:02] data-man commented on #316
Two proposals:

- add `article_created` (UNIX time)
- add `article_modified` (UNIX time)

E.g., this will allow to check articles for updates and update them incrementally (especially for Wikimedia's dictionaries/pages).

[2020-11-17 14:35] mgautierfr opened #450 "[CI] Fix code checkout on CI based on tag."
The linux builder on the CI always try to checkout a branch.
But when we push a tag, the CI try to build the tag and there is no corresponding branch with the tag name.

It would be better to detect if we are building a tag or a branch and checkout the right git ref.
Failing of the CI here is not important as nothing is done with this CI (just building), and when tag is pushed with the a branch, t

[2020-11-18 09:41] kelson42 opened #452 "Gather informations about dependence libraries version"
With our tools (typically zim-tools and kiwix-tools), we need to know which versions of the libzim/libkiwix/... binary runs against.

Therefore. we should be able to deliver the list of librairies we need with there version used for compilation/linking.

The tools, following a similar procedure with their own deps, should be able to print the information with option `-v`.

[2020-11-20 14:43] #375 closed

[2020-11-21 05:52] asashnov opened #455 "Possible I/O performance issue in Cluster::write()"
libzim 'master' (540bc34d)

Cluster::write() writes data in 4k chunks, instead of 4Gib:

libzim/src/writer/cluster.cpp
[code]

In another place in code the data read from file in chunks of 1MiB:

[code]

[2020-11-21 09:30] kelson42 opened #467 "Zstd compression should be always used"
Lzma compression should not be used anymore

[2020-11-23 15:47] #357 closed

[2020-11-27 16:30] kelson42 opened #456 "[URGENT] Problem with ZIM validation"
I have created a ZIM file with latest mwoffliner and node-libzim (so libzim 6.3.0). Rename the file in `.zim`.

[wikisource_fo_all_nopic_2020-11.zim.zip](https://github.com/openzim/libzim/files/5608841/wikisource_fo_all_nopic_2020-11.zim.zip)

If I run zimcheck on the latest libzim/zim-tools git master (but before `libzim_next` merge), then I get an error:
[code]

So, either we newly write corrupt

[2020-11-27 21:00] mgautierfr commented on #456
This is a bug in the check.
We can have (however not recommended) duplicated title. But the check checks that title are strictly increasing, we should check that they are superior or equal.

[2020-11-28 07:53] #456 closed

[2020-12-03 07:50] move[bot] opened #458 "Can't look up Berlin via Search Index"
*@gcast20 commented on Dec 2, 2020, 9:56 PM UTC:*

zim-File: wikipedia_de_all_maxi.zim (2020-11)
kiwix Desktop 2.0.3 (build Thu 07/02/2020)
It is not possible to look up the city of Berlin in the current German wikipedia's zim-file. On typing Berlin in the search field, so many terms with "Berlin" appear - but not just "Berlin" by itself, that the whole drop-down menu is filled. In order to reach

[2020-12-07 15:58] mgautierfr commented on #397
Thinking about this, I come with a solution.

The idea is not to change the `TitlePtrList` but to add a new index(es).

We already have indexes, not pointed by the zim header. We use plain entry at well known path to found them : `X/title/xapian` and `X/fulltext/xapian`.
And we already have other specific entries at well known path (`-/favicon`, `-/mainpage`).
We could extend this principle to add

[2020-12-09 21:59] veloman-yunkan opened #463 "Calling zim::Search::end() before zim::Search::begin() leads to an infinite loop"
`zim::Search::end()` returns a meaningful end iterator only if the search object has been properly initialized before that by a call to `zim::Search::begin()`. As a result, the following code is an infinite loop:

[code]

This is very counter-intuitive, especially given that both `zim::Search::begin()` and `zim::Search::end()` are `const` member functions.

[2020-12-11 05:50] kelson42 commented on #366
@mgautierfr what is the status on this? I’m not sure to fully understand what needs to be changed.

[2020-12-11 05:52] kelson42 commented on #312
@mgautierfr Have we been able to finally fox this in libzim_next?

[2020-12-11 13:50] mgautierfr commented on #312
Yes. There is no more `getRedirectUrl`.
You will have to get the redirectEntry (`getRedirectEntry()`, which raise an exception if this is not a redirect) or the final item (`getItem(true)`) and then use `getPath()` on them.

[2020-12-11 13:50] #312 closed

[2020-12-11 13:55] mgautierfr commented on #366
This is done.

[2020-12-11 13:55] #366 closed

[2020-12-12 22:57] gg-dev-05 commented on #450
May I work on this issue? Please guide me to get started.

[2020-12-20 22:17] kelson42 commented on #458
@mgautierfr I believe at the root of the problem is an inadapted scoring mechanism. This scoring mechanism counts is adaped to fulltext search but not for the titles.

[2021-01-03 17:13] kelson42 commented on #467
See as well #431

[2021-01-03 17:14] kelson42 commented on #467
@mgautierfr @veloman-yunkan Can one of you to that briefly please? With #431?

[2021-01-07 10:13] sakshi052 commented on #458
I want to work on this issue as I am new so please guide me through.

[2021-01-07 11:46] kelson42 commented on #458
@sakshi052 Welcome here. We don't provide teaching here really, so we don't guide too much developers. Either you can fix it and we will review your code and answer technical questions or you can't and then you better choose an other ticket.

Usually, I recommend to read first:
* https://www.kiwix.org/en/support-us/code/
* https://www.kiwix.org/en/a-5-1-2-steps-guide-to-being-a-top-gsoc-applicant/

[2021-01-07 19:32] kelson42 commented on #463
@veloman-yunkan What should be returned to fix that problem? An exception should throwed?

[2021-01-09 20:39] kelson42 commented on #458
This ticket looks similar to https://github.com/kiwix/kiwix-tools/issues/360

[2021-01-12 19:11] kelson42 commented on #423
@mgautierfr What is left to do?

[2021-01-13 10:49] mgautierfr commented on #423
- The compilation without Xapian is implicite (does not compile if Xapian is not on the system). It should be explicit => DONE
- It seems the compilation might fail in the scenario of Xapian missing on not on the system, see kiwix/kiwix-lib#117 => Probably DONE
- Compilation without Xapian should be part of the CI => DONE
- ZIM writting and reading of ZIM files without Xapian based indexes should

[2021-01-13 14:00] mgautierfr opened #469 "Properly handle test zim files"
For now we have a bunch of test/reference zim file directly in the libzim repository. All those files represent around 33Mb and ~1,4Mb is updated time to time.

We don't want that :
- We don't want to have test data to change. They are somehow a reference and libzim must handle "correctly" previous version of test data.
- We pollute our git history. Git is not good to manage binary data.
- We will

[2021-01-13 21:10] kelson42 commented on #469
@mgautierfr gitmlfs seems to be a good solution, but the free storage is limited to 1GB and the bandwidth to 1GB a month. Any channce we could stay within the free plan limit?

[2021-01-15 01:46] automactic opened #470 "Test failure encountered when building using kiwix-build"
Hey hey, I got an error when kiwix-build is testing libkiwix after build. Interestingly, it only fails when targeting native (both static and dynamic), it was successful when building against iOS.

Here are the logs:

[code]

[2021-01-15 08:02] kelson42 commented on #470
@mgautierfr Might that be linked to new libzim 7.0.0 release?

[2021-01-18 15:41] veloman-yunkan opened #471 "A simple unit-test for `zim::Search` doesn't work"
While working on #449 I encountered [problems with search](https://github.com/openzim/libzim/pull/449/commits/e20680464cf9048c37df8f03cda72bf4af090f1e). It turns out that at least part of those problems are not related to my changes since they are present in the `master` branch too. The following simple unit test fails:

[code]

[code]

Originally, I used the recently created ZIM archive `test/dat

[2021-01-18 16:38] mgautierfr commented on #471
The main entry is a generated entry which is a redirection to the real main page.
The entry is not handled by the xapian indexer and so is not "searchable".

If you follow the redirection and do a query using the real entry title it should work. (If not we have a bug).

[2021-01-18 17:36] veloman-yunkan commented on #471
Trying to resolve the redirect (`const zim::Entry mainEntry = archive.getMainEntry().getRedirectEntry();`) throws an exception when run on `wikipedia_en_climate_change_nopic_2020-01.zim`:

[code]

When using [`small.zim`](https://github.com/openzim/libzim/blob/a4330a57bcd3da6249f2ddddc71f4e456dd21c93/test/data/small.zim) it fails in a different way:

[code]

[2021-01-19 08:41] rgaudin opened #472 "online documentation is not current version"
README (discreetly) point to https://libzim.readthedocs.io/ which should contain the CI-built documentation.

This documentation currently describe the *previous* API (before libzim-next) from 2020-08-18.

I imagine this is due to that code not being released but still

[2021-01-19 09:03] kelson42 commented on #472
We need to update the CI to:
* Make a static version of the doc per release
* Make the version choosable in the readthedocs sidebar
* Make a `dev` version each time git head master is changed

[2021-01-19 11:02] mgautierfr commented on #472
readthedocs was configure to use the doc branch for latest.
Now it is master. (Refresh your browser)

[2021-01-19 11:08] mgautierfr commented on #471
On old zim file, the mainEntry is directly the "real main entry". On new zim file is a redirection to it.
We need to check if it is a redirection before calling `getRedirectEntry` (or use `getItem(true)` which return a item, following redirection if needed, and the path of a entry is the same than the associated item)

This is a bug.

[2021-01-19 11:33] rgaudin commented on #472
Great. Closing. @kelson42 reopen if you think the versioning is still necessary.

[2021-01-19 11:33] #472 closed

[2021-01-19 16:04] rgaudin opened #474 "Missing suggestion result"
Couldn't find any open ticket regarding this…

Testing with this tiny [test3.zim.zip](https://github.com/openzim/libzim/files/5837011/test3.zim.zip).

It has two `text/plain` articles with

| path | title | content |
---|---|---|
| `accueil` | `a nice house` | `accueil` |
| `home` | `a nice house` | `welcome` |

Searching the content works fine.

[code]

Getting suggestions doesn't:

[code]

We on

[2021-01-19 16:48] mgautierfr opened #475 "Creator should properly handle user-code error"
Creator spawn worker threads to compress/index the item's content provided by user-code.
Those workers call user-code to get the content (user have to implement the item interface. The code may be written in python/node in case of wrapper).

If something goes wrong in the user-code, we should properly handle it. (For now we are crashing).

After discussion with @veloman-yunkan and @rgaudin we agre

[2021-01-20 14:15] kelson42 commented on #474
We can not release libzim7 with this being unclear/unfixed.

[2021-01-20 14:54] mgautierfr commented on #469
We can store the generated data using git-lfs instead using a archive yes.

The data is not intended to change. If we want to test a new point, we will add data, not change it. Except if we put big zim file we should stay under 1GB for a (long) time.
About the bandwidth, depends of several things:
- The dev/user. Ideally, they should set the data repository only once and make dev repository point

[2021-01-20 14:55] kelson42 commented on #469
@mgautierfr OK, I think we should carry on.

[2021-01-23 12:19] kelson42 commented on #471
@veloman-yunkan @mgautierfr what next? This is preety urgent that this is fixed and that the CI works again, so we can merged the PRs whoch are pilling up since december.

[2021-01-23 12:27] kelson42 commented on #347
@mgautierfr @rgaudin This is the feature request for the feature you were talking about on last weekly meeting.

[2021-01-23 12:37] kelson42 commented on #389
@legoktm Does that sounds doable? We are just about to release libzim7 which be available just after Debian Bulleye package freeze. To me is seems to be like the best timing to fix this problem.

[2021-01-23 12:46] kelson42 commented on #442
@veloman-yunkan What would be the best approach to your opinion?

[2021-01-24 09:05] veloman-yunkan commented on #442
The severity of this issue is very low (if it is an issue at all, since the described problem is mostly theoretical). I don't think we should spend time looking for a solution before this becomes a real problem.

[2021-01-24 10:50] veloman-yunkan commented on #471
It turns out that by default `zim::search`'s results are empty, despite a correct statistics returned by `get_matches_estimated()`. The reason is that `zim::search` is created with an empty range:

https://github.com/openzim/libzim/blob/6.3.0/src/search.cpp#L139-L144

https://github.com/openzim/libzim/blob/6.3.0/src/search.cpp#L153-L157

Then [when the query is executed](https://github.com/openzim

[2021-01-24 12:26] kelson42 commented on #474
I steongly suspect that this is the same root cause as #471

[2021-01-24 12:43] kelson42 commented on #471
@veloman-yunkan Thank you very much for this analysis.

To me, and if I understand properly, the following two things are "buggy":
* default range being 0-0
* search_begin() dealing with "wrong values"

IMO, we need a default range set, but not sure if this should be the estimation (does this max range estimation is expensive to run?) or a fix value. The workflow needs obviously to be fixed to be

[2021-01-24 12:51] kelson42 commented on #442
@veloman-yunkan Ok. I'm not really eager to keep bug ticket open for ever. Would you agree to put an assert like suggested by @mgautierfr? To me this seems a good compromise.

[2021-01-24 13:56] maneeshpm opened #477 "zim::parseLongPath() should handle paths consisting of the namespace only"
Currently if a url like `"A"` is given to the function, it throws an error. A more appropriate response should be to return the namespace character(if any) along with an empty string like `(ns, "")`.
This will help in fixing openzim/zim-tools#171. Refer openzim/zim-tools#216.

[2021-01-24 16:25] veloman-yunkan opened #478 "zim::windows::FD::close() buggy for a FD constructed from a POSIX file descriptor"
[`zim::windows::FD:FD(int fd)`](https://github.com/openzim/libzim/blob/6.3.0/src/fs_windows.cpp#L60-L61) constructor works via [`_get_osfhandle()`](https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/get-osfhandle?view=msvc-160):

[code]

The documentation of `_get_osfhandle()` [requires](https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/get-osfhandle?view=msvc-160#rema

[2021-01-24 17:11] veloman-yunkan commented on #442
@kelson42 I do agree

[2021-01-25 06:15] maneeshpm commented on #477
@veloman-yunkan the way zim::archive::findByPath is implemented, it uses `path` to find `begin_idx` and `path.back()++` to find the `end_idx`. If I add a check to consider only namespace chars in `parseLongPath()`, the function will break in the `end_idx` call. To prevent this, I have to modify the check to include namespace chars and the next chars (like `J` followed by `K`).
This looks a bit mes

[2021-01-25 06:27] veloman-yunkan commented on #477
@maneeshpm I don't fully understand your last comment. If you wrote it because I edited the title of this ticket, then please be advised that I didn't suggest by that action any change in the intended way of fixing this issue - I only wanted to make the title describe the problem, rather than how it should be fixed.

[2021-01-25 06:31] maneeshpm commented on #477
Thanks for the clarification @veloman-yunkan, Let me open a draft pr so that I can point out the implementation issue.

[2021-01-25 08:33] veloman-yunkan commented on #477
@maneeshpm OK, I looked at the code and now I understand your comment. However, I don't understand why you decided to change your fix from what you used in https://github.com/openzim/zim-tools/issues/171#issuecomment-761817734

[2021-01-25 08:39] maneeshpm commented on #477
@veloman-yunkan That fix doesn't check if the passed namespace is a valid namespace char(one of -,A,B,C,I,J,M,U,V,X). It seems `findx` is already handling the wrong paths, so this check might be unnecessary. Should I revert to the old fix?

[2021-01-25 09:00] veloman-yunkan commented on #477
It's not `parseLongPath()``s job to check if the namespace component is valid. Similarly it doesn't check that the path component is valid. It only has to split the long path into two parts.

Yes, please

[2021-01-25 10:17] veloman-yunkan commented on #467
There is a saying that when more than one person is in charge, no one is in charge. Probably that's how this request missed my attention.

[2021-01-25 10:27] kelson42 commented on #467
I can not be more agree. Usually I say that myself. You are in charge.

[2021-01-25 10:37] kelson42 commented on #478
@veloman-yunkan I'm not sure about the nature of the ticket? What is the user impact? Should we not fix it right now as we are bringing this new feature to the libzim?

[2021-01-25 11:19] veloman-yunkan commented on #478
The new feature shouldn't claim Windows support. Let's limit its usage to the Android app for a while. I don't think that this bug can affect the users. Currently it can only fail a unit-test, though it doesn't.

[2021-01-25 11:31] kelson42 commented on #478
@veloman-yunkan Got it, yes, this feature should be available only Linux/Android, unit tests for this feature should run consequently only on Linux OS and be ignored otherwise.

[2021-01-26 14:30] rgaudin opened #481 "Created search index is unusable"
I don't think it's related to  #471 but I'm not familiar with the internals of search.

I am using python-libzim (next) so consider the possibility of a bug there though code is very limited (a call to cpp `.configIndex(indexing, language)`) and seems OK and `test/` doesn't seem to test this.

Creating simple zim with indexing for `eng` and adding a single Item at `lorem_ipsum` with `text/html` an

[2021-01-26 14:45] #431 closed

[2021-01-26 14:45] #467 closed

[2021-01-26 22:50] kelson42 commented on #471
Might be related to #463 as well

[2021-01-26 22:57] kelson42 commented on #311
It seems this is not needed, so will close this ticket.

[2021-01-26 22:57] #311 closed

[2021-01-27 08:51] #419 closed

[2021-01-27 16:14] kelson42 commented on #442
Would be good to make a test to test this.

[2021-01-27 19:42] move[bot] opened #484 "Kiwix-tools all fail to read Pokepedia ZIM files on Windows"
*@kelson42 commented on Jan 26, 2021, 12:53 PM UTC:*

Tested with [https://download.kiwix.org/release/kiwix-tools/kiwix-tools_win-i686-3.1.2-4.zip](https://download.kiwix.org/release/kiwix-tools/kiwix-tools_win-i686-3.1.2-4.zip)

[code]

Reported first at [kiwix/kiwix-desktop#582](https://github.com/kiwix/kiwix-desktop/issues/582)

Maybe related to [#447](https://github.com/kiwix/kiwix-lib/issues/

[2021-01-28 11:01] mgautierfr commented on #471
Indeed, the `Search` class was mainly use through the `File::search` method (https://github.com/openzim/libzim/blob/b3e64fed46fb3b8666e747ece61d45fd643000ff/src/file.cpp#L191-L204)
This has been removed with the new api and now we face some inconsistency with the `Search` class.

We probably have to rethink a bit the api (and the internal structure)

[2021-01-28 13:27] mgautierfr commented on #481
Pr #466 seems to fix the issue but nothing is especially done to fix it (just that we rewrite a bit how we create the index).
As we will split the PR, we will need to test again the issue to be sure it is fixed.

[2021-01-31 14:40] data-man opened #485 "Enable Discussions"
GitHub Discussions [now available](https://github.blog/changelog/2020-12-08-github-discussions-now-available-as-a-public-beta/) for beta testing.

It would be nice to enable them for (all/some) openZIM's repositories.
Another idea: new empty repository with enabled discussions for all openZIM's projects.

[2021-02-01 08:34] Popolechien commented on #485
Ok, I've enabled these on [/zim-requests](../../zim-requests/discussions) as it is one of the most outward-facing. We'll see how that pans out.

[2021-02-01 09:29] kelson42 commented on #485
@Popolechien Thx for the experimentation. I'm not 100% convinced this is a good move, but lets try for a few months with only one repository. If it works well we could then see if this makes sense to activate it on other repositories.

[2021-02-01 09:29] #485 closed

[2021-02-03 09:52] move[bot] opened #488 "kiwix-serve random is not seeded properly on Windows"
*@OscarL commented on Jan 31, 2021, 5:17 PM UTC:*

I keep getting the same articles so frequently, and in the same order, that I made it to a memory game... (its "0..999" or "Macao Special Administrative Region passport" that comes next?) :-)

Happens with an old version of kiwix-serve.exe from 2019, and with 3.1.2 downloaded today. ~~In fact, the newer version is even worse, as it tends to repeat

[2021-02-03 12:24] kelson42 commented on #389
@legoktm Considering that libzim7 and that we start a new cycle at Debian, would that not be a good time to make this ticket?

[2021-02-03 16:00] #284 closed

[2021-02-03 20:30] #477 closed

[2021-02-03 20:37] kelson42 commented on #478
@veloman-yunkan Now that #449 has been merge, could we fix/close this one so we are “clean” regarding fd handling?

[2021-02-03 21:57] veloman-yunkan commented on #478
@kelson42 Do you mean implementing full support for fd handling under Windows? If not, I don't see what fixing this issue will buy us now.

[2021-02-03 22:31] legoktm commented on #389
Sorry, forgot to update the ticket. Turns out this is pretty straightforward on the Debian side. I'll try and get a PR ready in the next few days.

[2021-02-04 06:39] maneeshpm opened #489 "windows.h min/max macros interfere with std::min/max"
[#497](https://github.com/openzim/libzim/pull/479)
`windows.h` includes macros `min` & `max` which might interfere with `std::min()` and `std::max()` functions.
Can be handled by explicitly mentioning function return type like `std::min<int>();`

[2021-02-04 07:22] #489 closed

[2021-02-04 07:53] kelson42 commented on #478
@veloman-yunkan I probably don’t understand properly what this ticket is about. Windows does not handle ZIM content given via FD. This is not even a requirement. This ticket seems to complain that a Windows FD dedicated part of the libzim does not work properly. I wonder in a first place why it exists? Then if it has to exist this should clearly die (an ASSERT?) as non supported feature. Both way

[2021-02-04 10:19] veloman-yunkan commented on #489
FYI,@mgautierfr had the same issue in #487 and he [solved it differently](https://github.com/openzim/libzim/pull/487/commits/2f5f4994539b336c46855b1bea8572d6d98d6026)

[2021-02-04 10:39] veloman-yunkan commented on #478
@kelson42 This ticket is about a *potential* issue identified while reading the documentation and code. I prefer to report issues as soon as I find them. I think that the current situation doesn't justify spending any effort on this ticket, but that may not always be true.

[2021-02-04 10:54] kelson42 commented on #478
@veloman-yunkan I appreaciate you opened the ticket. I fear this ticket will be open for years. How long would be needed to fix it?

[2021-02-06 05:43] maneeshpm opened #491 "Disparity in results with suggestions kiwix-search"
using file: wikipedia_en_100_maxi_2021-01.zim
Firstly searching "world" with suggestions flag:
[code]
Now running without suggestion flag:
[code]
Apart from the sorting issue(kiwix/kiwix-tools#360), It seems some entries are missing when we search without suggestions. Not sure if this is the expected behavior. Looks related to #474 as well.

[2021-02-06 08:20] kelson42 commented on #491
@maneeshpm It seems normal to me that two different search tools give too different results. The suggestion system works only on indexes with title whereas the search works on fukltext search.

[2021-02-06 08:23] maneeshpm commented on #491
Okay! so the idea is to search over titles when generating suggestions and over fulltext when we perform a full search. Thanks for the info, I guess this issue can be closed now.

[2021-02-06 08:31] #491 closed

[2021-02-07 08:57] veloman-yunkan commented on #478
@kelson42 Anywhere from half an hour to several days if it is valid to generalize the experience we had with #479. Frankly I don't care about this ticket at all. I don't mind if it is closed right away.

[2021-02-09 16:55] #484 closed

[2021-02-10 14:46] maneeshpm opened #494 "Build test warnings should be fixed"
currently, some warnings are raised in the tests:
[code]
Can be fixed easily by finding the number of articles differently.

[2021-02-10 16:57] mgautierfr commented on #478
Would it be possible to delete `zim::windows::FD:FD(int fd)` ?
Or do we use it somewhere ?

[2021-02-11 07:33] veloman-yunkan commented on #478
If I remember correctly, it is used only in a unit test.

[2021-02-13 07:49] kelson42 commented on #470
@automactic Do you still suffer of this bug?

[2021-02-13 07:52] kelson42 commented on #455
@veloman-yunkan Is that a valid remark?

[2021-02-13 07:56] kelson42 commented on #396
Will try to make a PR for that to at least have it in the CI

[2021-02-13 16:59] veloman-yunkan commented on #455
@kelson42 I don't think so.

[2021-02-13 17:01] kelson42 commented on #455
@veloman-yunkan Ok, then we should close it with a small explanation.

[2021-02-13 19:30] #494 closed

[2021-02-13 19:46] automactic commented on #470
Yes

[2021-02-13 21:10] archenemies commented on #196
I'm looking into Zimmer because Mwoffliner currently lacks TOC.

Thanks for the Maori Wiktionary example file. It doesn't crash `kiwix-serve` and I can look at the root page (running Linux). However, the search feature doesn't work, and I don't know the URL format for pages, so I can't examine an individual page to see if I want to proceed. Any tips?

    kiwix-serve -p 8080 mi.wiktionary.org.zim

[2021-02-14 06:33] kelson42 commented on #196
@archenemies Please open a new ticket if you have a new problem

[2021-02-14 09:54] archenemies commented on #196
@kelson42 I tried to build ZIM tools so I could look inside the archive and see what URLs it contained, but wasn't able to do so. I opened a ticket <https://github.com/openzim/zim-tools/issues/223> for that. If you just tell me one of the URLs in the archive then I could look at the format of the page and see if Zimmer might work for me.

[2021-02-14 10:28] archenemies commented on #196
I got it:

    kiwix-serve -p 8080 mi.wiktionary.org.zim
    w3m http://localhost:8080/mi.wiktionary.org/A/birdo.html

Unfortunately it looks like all the articles here are too small to have a TOC so it doesn't answer my question, I'll try asking at <https://github.com/vss-devel/zimmer>.

[2021-02-15 13:58] veloman-yunkan commented on #455
Actually, 4KiB chunks may be too far away from the sweet spot of I/O write operations, however I don't have any idea how significant an impact that may have on the overall performance of ZIM creation. Pursuing this issue separately doesn't make much sense. It should be considered in the wider context of ZIM creation performance analysis and optimization.

[2021-02-17 15:10] #478 closed

[2021-02-17 16:39] #397 closed

[2021-02-17 16:45] kelson42 commented on #389
@legoktm Any news?

[2021-02-17 16:47] rgaudin opened #500 "Is auto-indexing limited to text/html Items?"
Testing current libzim nightly ([2021-02-16](http://download.openzim.org/nightly/2021-02-16/), via pylibzim), I get the expected behavior:

- adding HTML content to an Item with `text/html` -> is indexed
- adding HTML content to an Item with `application/octet-stream` -> is not indexed

Wanting to check what kind of mime types were allowed for indexation, I couldn't find where this behavior is app

[2021-02-18 17:49] mgautierfr commented on #500
Are you sure of testing 2021-02-16 version ? Maybe you have a environment linking to a previous version of libzim.

Previous "version" of libzim have this test here : https://github.com/openzim/libzim/blob/7915388cb9727a16c9bb8bec5bb228fc73bf29b1/src/writer/creator.cpp#L174-L182

However, recent PR (with this commit : https://github.com/openzim/libzim/commit/d70dd56793d04ccb9c9fbd8942ff72a712540c0

[2021-02-18 17:56] rgaudin commented on #500
Would be a good opportunity to improve the text in testing that it starts with `text/html`, not that it exactly is `text/html` as this prevents types using optional parameters such as `charset` from being indexed.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types#structure_of_a_mime_type

[2021-02-18 18:11] rgaudin commented on #500
Cleaned up my workdir and rebuild and indeed, any mimetype gets indexed, as long as the HTML parser is happy.

[2021-02-19 08:59] #423 closed

[2021-02-19 14:01] maneeshpm opened #502 "Created zim file should have the name provided as input"
Currently, the ".zim" extension is automatically added to the created file irrespective of it being in the input name user provides. This can cause some unexpected behavior and results such as:
- The temporary test zim files created using `zim::unittests::TempFile` are not getting removed
- We expect the output file name to be the same as the input provided

[2021-02-21 11:40] kelson42 commented on #455
@mgautierfr Reassigning to you as we have discussed the topic and agree that there is nothing to loose to write bigger chunks.

[2021-02-21 11:43] kelson42 commented on #376
@veloman-yunkan what abou this last Ticket which has been constantly postponed since last summer. One of your last ones on libzim.

[2021-02-21 13:45] veloman-yunkan commented on #376
@kelson42 I will nail it down today

[2021-02-22 16:25] #376 closed

[2021-02-23 14:37] #455 closed

[2021-02-23 14:54] mgautierfr opened #507 "Investigate sporatidic zimcreator unit test failling on windows."
The recents unittests of the creator on windows sporadictly fails on windows.
This issue is here to track the investigation of this failure.

Worth to mention that:
- It never fails on linux.
- We have never used the creator on windows since now (and it is "used" only on unittest). So the bug can be here from a long time.

[2021-02-23 15:11] mgautierfr commented on #507
I've succeed to get a invalid zim created zim file from the CI. [zimfile.zip](https://github.com/openzim/libzim/files/6029710/zimfile.zip) (rename to zim)

It appears that the header is written with the offset of 1. The offset is "inserted" while writing the uuid and so all following field of the header is off by 1.
And so the `mimeListPos` at offset 56 (which should be 80 (0x50)) is now (20480 (0

[2021-02-23 15:20] mgautierfr commented on #507
All other data are ok. It is just the writing of the header that contains a extra byte. So field are of by 1 and overwrite the first byte of the mimetypelist.

[2021-02-24 09:42] #502 closed

[2021-02-24 13:12] #458 closed

[2021-02-24 14:00] move[bot] opened #509 "Search order of articles involving spaces"
*[move[bot]](https://github.com/apps/move) commented on Feb 13, 2020, 1:58 PM UTC:*

_@ciconi commented on Aug 12, 2019, 10:30 AM UTC:_

**Describe the bug**
When searching for articles with one or more space characters, sorting fails:

1.  Sort order is broken, articles belonging together are listed apart:
    Enter: "The Wolf of " (including one space)

[code]

2.  Articles are not shown
    Ent

[2021-02-25 11:09] #507 closed

[2021-02-26 06:49] maneeshpm opened #510 "Queries are not anchored to the beginning of the document in suggestion search"
Suppose we have the following titles in an index: {`aterm bterm this is a title cterm`, `this is a title aterm bterm cterm`, `aterm this is a title bterm cterm`}

if I perform a suggestion query "this is a title",
The results are in the order:
[code]
Whereas, the expected order is:
[code]

[2021-02-26 08:29] kelson42 commented on #510
@maneeshpm Here a few quesitons:
* How the solution would looks (principle)?
* Does this solution is recommended by the Xapian team?
* Do we need somehow to have a property somewhere to detect/know if we have an index supporting anchoring?
* How would older library/kiwix deal with new indexes?
* How would new library/kiwix deal with older indexes?

[2021-02-26 16:30] maneeshpm commented on #510
A crude idea is to leverage OP_PHRASE capabilities to match the order in a document. We need to somehow match the 0th position of all documents and all queries so that the "window" of the phrase starts from the 0th position. Such a solution must be formed by modifying the search flow so that we can ensure backward compatibility. Upon my conversation with Xapian team, they suggested the following:

[2021-02-26 16:40] kelson42 commented on #510
@maneeshpm So, the Xapian Title index would not look differently?

[2021-02-26 16:46] maneeshpm commented on #510
@kelson42 if it is feasible to implement this, then no. Indexing will remain the same. the query will return 0 in the position list of all documents no matter any other term matches or not.

[2021-02-26 17:13] kelson42 commented on #510
@maneeshpm That would be awesome, then this feature would be beneficial even for older ZIM file.

[2021-02-27 12:27] kelson42 commented on #276
@maneeshpm My thoughs about this problem have evolved since I have written the ticket. Here is I believe a better approach to solve it:
* At the indexing time, if the article is a redirect, write the targeted article URL instead of the redirect URL in the Xapian title index
* At the searching time, keep track of the suggestions URL and if a URL appears a second time ( from the most relevant to the

[2021-03-02 10:26] #488 closed

[2021-03-03 10:09] #500 closed

[2021-03-03 16:15] Deburama1 commented on #469
Hello, I am new to open source contribution, how can I contribute to this code as a first issue.

[2021-03-04 07:24] kelson42 commented on #469
@Deburama1 Hi and welcome, unfortunately there is nothing much we can do if you don't know how to fix the issue.

[2021-03-04 10:57] mgautierfr commented on #276
I'm not against that, but two points to notice :
- The current implementation of kiwix-serve suggestions is based on title, so even if we store the targeted article url in xapian, we will have a redirection on the browser side (But 1. this can be change. 2. Not really important for the feature itself of removing duplicates)
- On xapian side we will lost the information about the fact this is a red

[2021-03-04 11:25] kelson42 commented on #276
I'm talking about suggestions in general and the system based on Xapian. The special case of Kiwix-serve is not much of interest for me at this stage. It's way of working is "wrong" and needs to be fixed, see https://github.com/kiwix/kiwix-tools/issues/205.

Yes, I don't believe this is something necessary (but I'm not happy about that either).

Yes, this will be inefficient in that case - so we m

[2021-03-04 11:28] kelson42 opened #513 "Code norms"
It seems to be defficult to get a natural/grassroot agreement about coding style. In particular the case regarding variables, types, classes, constants, etc. I would be happy if we get a minimal agreement on this.

[2021-03-04 11:35] maneeshpm commented on #276
I agree with your approach @mgautierfr. The results are returned as a `Xapian::MSet` object, which cannot be modified directly like a list. So we will have to use a `collapse_key` at the search time which will do this task for us. For the indexing time, If we can use `redirectPath` attribute appropriately instead of directly using `path` in the index.

[2021-03-04 12:11] #509 closed

[2021-03-04 14:32] mgautierfr opened #514 "Fix semantics about number of entry/article/front article/...("
With current zim library there is no real distinction between the kind of article in a zim file:
- `File::getCountArticles()` return the number of articles (all entries) in the zim file.
- `File::getNamespaceCount(char ns)` return the number of articles in the specified namespace.

On top of that kiwix-lib has :
- `Reader::getGlobalCount()` returning `File::getCountArticles()`
- `Reader::getArticl

[2021-03-04 18:21] lizfrank commented on #452
That's great!  It sounds like exactly what we need.  Thank you.  Do you have any idea when it will be implemented?

[2021-03-04 18:57] kelson42 commented on #452
@lizfrank there is no ETA for now, nobody is foreseen to work on it for the moment.

[2021-03-06 05:22] maneeshpm commented on #276
@mgautierfr @kelson42 It seems that using a keymaker is supported only on sorting right now, but not on collapsing mset. Doing it directly using Xapian is not possible. So we need a custom solution to this.

[2021-03-06 05:39] kelson42 commented on #276
@maneeshpm So if we store the path as value then it will work? If "yes", then we should do so and secure back compatibility.

[2021-03-06 05:43] maneeshpm commented on #276
If we store the path as a value, it will be as easy as setting the collapse key to the valueslot of path. We should probably do that for future zims. I am figuring out a way to ensure backward compatibility as well.

[2021-03-06 05:53] kelson42 commented on #276
@maneeshpm I would associate a key metadata "value_store" to the database and act according to its presence/value.

[2021-03-06 20:53] veloman-yunkan opened #516 "Possibility of a memory leak in `zim::Search::begin()`"
`queryParser` in `zim::Search::begin()` may leak in case of an invalid query:

https://github.com/openzim/libzim/blob/e7fb949507874f126bd73ed82626ad3b7a731295/src/search.cpp#L337-L368

This can be fixed easily by making `queryParser` a stack-allocated object (currently the only justification for it being allocated dynamically could be the large value of `sizeof(Xapian::QueryParser)` which it isn't

[2021-03-06 21:47] georgejhunt opened #519 "Zimwriterfs search results links out of sync with autogenerated "/C/" namespace"
I used zimdump (commit dca3a83d48a7ac5612c4f3dbfaba89c02c66e6b4
Merge: f406219 ff61a93
Author: Matthieu Gautier <mgautier@kymeria.fr>
1. ZimDumped "teded_en_all_2021-01.zim"
2. which created a content tree with html files in an /A/ namespace.
3. When I used zimwriterfs to recreate a zim from that file tree, the html was placed in a /C/A/ namespace -- which I can at least understand as a way of dea

[2021-03-07 13:25] kelson42 opened #517 "Does the integrity check the new indexes v0+v1 properly?"
It probably should I guess, but want to secure this part of the code has been updated properly.

[2021-03-08 09:30] mgautierfr commented on #517
Reading code is good : https://github.com/openzim/libzim/blob/master/src/fileimpl.cpp#L626-L660 :)

Or maybe we should define "properly" and you find this test is not enough.

[2021-03-08 10:16] rgaudin commented on #514
Thanks @mgautierfr for the detailed explanation and proposition.

This sounds OK. I'm mostly interested in the latest case (new namespace, with listing) as this is what we are about to create now and it sounds reasonable. I guess extending the hints later may have an impact but it's not for the need future so we'll see when this time comes.

[2021-03-10 13:32] kelson42 commented on #517
@mgautierfr Thx, no it looks good. As we have introduced the sorting check recently for the "old" title index, just wanted to secure with you that the new location of old/v0 index AND v1 of the indexes are still tested.

[2021-03-10 13:32] #517 closed

[2021-03-10 16:37] pranavich18 commented on #452
@kelson42  I would like to work on this can you explain more about the issue.

[2021-03-12 05:51] #276 closed

[2021-03-12 05:56] kelson42 commented on #474
@mgautierfr Is https://github.com/openzim/zim-tools/issues/230 a duplicate of this one?

[2021-03-13 04:53] maneeshpm commented on #474
Seems to be a result of [this](https://github.com/openzim/libzim/blob/0dffcaba659f07f17a6293fedaa9403b1220240f/src/search.cpp#L399-L401), we are performing a collapse on title in suggestion mode
[code]
Articles with the same title collapse into one result which has the highest relevance. Is this a feature we want to keep?

[2021-03-13 05:49] kelson42 commented on #474
@maneeshpm I believe no, but we need to identify the ticket/PR for which this code has been introduced in a first place.

[2021-03-13 05:54] maneeshpm commented on #474
Introduced here #274

[2021-03-13 06:17] kelson42 commented on #474
@maneeshpm If @mgautierfr agrees, I believe we can remove it. Considering the patch is trivial, you can make it and ask him to review.

[2021-03-15 13:21] #474 closed

[2021-03-16 09:45] rgaudin opened #521 "Invalid result returned by suggest"
Testing the latest nightly with pylibzim I got a failing test.

Investigating it, it appears that `suggest()` returns an invalid result when testing `example.zim`.

[code]

So the problem is that `suggest()` returns this `A/index` path which doesn't exist in the ZIM. In the ZIM, there is a `A/Main_Page` which is a redirect to the `A/Nayriri_Uñstawi` but no sign of this `A/index`.

Please note that

[2021-03-16 10:54] kelson42 commented on #521
@maneeshpm Would you be able please to have a look to this?

[2021-03-16 12:35] maneeshpm commented on #521
@kelson42 Sure, I will look into this. @rgaudin where can I find this zim?

[2021-03-16 12:41] rgaudin commented on #521
It's from the libkiwix's test data: https://github.com/kiwix/kiwix-lib/raw/master/test/data/example.zim

[2021-03-16 14:52] maneeshpm commented on #521
To recreate the issue, I wrote the following unittest in libzim suggestion tests:
[code]
[code]
It seems like `zim::Search::get_matches_estimated()` is working fine here, I am getting a result 2 as expected (not actually) since we have 2 entries with a similar name in the xapian index as given by the output. I am not getting a 3 here as mentioned in the ticket so I am unable to recreate this issue

[2021-03-16 16:17] rgaudin commented on #521
Thanks @maneeshpm, you unveiled a pylibzim bug 👍

And thank you for investigating this. I suggest we close this and let you figure out whether to open one for the index-creation issue you mentioned?

[2021-03-16 16:34] maneeshpm commented on #521
Yes, we can do that. I haven't found anything spooky in the indexer yet that can cause a misread of the path like in this case. It can be an isolated incident as well, but just to be sure I will keep digging.

[2021-03-16 17:11] kelson42 commented on #521
@mgautierfr Can you please tell us if the zim is buggy? If not how should it look like?

[2021-03-17 12:58] mgautierfr commented on #521
`example.zim` is create with a "old" libzim (https://github.com/openzim/libzim/releases/tag/6.3.0 is probably close enough to the code used to create it).

[2021-03-17 15:52] mgautierfr opened #523 "About article path in fulltext index in new zimfile (searching with old libzim/kiwix-lib)"
Looking for #519, I've found a compatibility issue when searching in new zim file with old libzim.

In new zim file, when we index article, we are storing the path without the namespace in the database.
It is coherent with the fact that we want to remove(hide) the namespace.
All articles are by definition in `C` namespace, we don't have to specify it (and new libzim will search in `C` namespace).

[2021-03-18 06:14] maneeshpm commented on #521
It seems like the zim is buggy and should be replaced in lib-kiwix as well. We can close this issue.

[2021-03-18 06:14] #521 closed

[2021-03-18 07:27] kelson42 commented on #521
See https://github.com/kiwix/kiwix-lib/issues/467 for the ZIM file fix

[2021-03-19 09:13] kelson42 commented on #523
@mgautierfr I'm supportive of this approach

[2021-03-19 09:13] kelson42 commented on #523
@maneeshpm Would that be something you could/would work on?

[2021-03-19 09:31] maneeshpm commented on #523
Yes I can do this. As I understand, there are two parts to fixing this issue
1. We need to index full path with namespace as the data of documents. This can be done in the handler routine.
2. Implement a compatibility layer to take care of namespaces in new libzim.

@mgautierfr I assume we already have a compatibility layer that helps to read older zims?

[2021-03-21 06:50] maneeshpm commented on #481
I was able to recreate this issue on the latest master as well. The peculiar thing is when the content of the item is plain text, the item gets added (archive.getEntryCount() returns 2) and the indexing is working fine, we can search on it. When the content is an html (inside double quotes), the item isn't being added at all, and in that case, the index is unusable.
I think this is not exactly a b

[2021-03-21 07:28] kelson42 commented on #481
@maneeshpm Sounds like a duplicate of #519. Html is parsed to exctract the words and @mgautierfr has discovered that for some reason this process now fails.

[2021-03-23 16:14] rgaudin opened #525 "Favicon not set properly"
In many cases, the favicon set using libzim7 is not displayed by a libzim6 kiwix-serve.

The [spec](https://wiki.openzim.org/wiki/Metadata) expects the favicon at `/-/favicon` from the format.
One would thus expect the API (ie. `setFaviconPath(entry_path)`) to do what's necessary for that to happen.

The first issue is that `setFaviconPath` is deceptive. It allows to set any path and will only com

[2021-03-29 14:25] kelson42 commented on #514
@mgautierfr This looks good even if this starts indeed to be quite complex. I have one worry, this is the redirect handling. If I understand properly redirects and articles are treated indifferently. One count usage which is on the top of my mind is the numbers communicated in the Kiwix library (number of medias, number of articles). To me it looks like that what is needed there is the number of f

[2021-03-29 16:17] mgautierfr commented on #514
From zim file format itself, no.
But we could store that in a metadata (`M/Counter` could be a good candidate)

[2021-03-30 12:46] mgautierfr commented on #481
Yes, @maneeshpm please test with https://github.com/openzim/libzim/pull/522. Hope it will fix this issue.

[2021-03-30 12:58] kelson42 commented on #417
Would you help us please to answer if this is a good/valid approach for us?

[2021-03-30 13:01] mgautierfr commented on #525
I've miss the metadata page in the specs...
I've change this in the zim new format and write it in https://wiki.openzim.org/wiki/Well_known_entries
I don't remember where I write about this (or if we discuss about this in live) but we can keep a extra entry `/-/favicon` for compatibility with old libzim.

I'm surprised about this. We don't expect a specific order. We may have a bug in the redirect

[2021-03-30 13:17] rgaudin commented on #525
kiwix-tools from nightly (libzim7) displays the favicon OK

[2021-03-30 13:29] maneeshpm commented on #417
Sure @kelson42, I will investigate this.

[2021-03-30 13:49] kelson42 opened #527 "Adopt M/Illustration_[heigt]x[width] entries"
This has for purpose:
* to replace `-/favicon`
* to allow to provide many illustrations at different ratios/resolution

This has to be a PNG like before.

These entries can not be redirects (like any other `M/*` entries).

Per default, the API should return the 48x48 "favicon" like before, but if a given height and width is given, it should provide the wanting resolution.

In a second stage we cou

[2021-04-04 21:05] maneeshpm commented on #417
I think we can indeed use `DB_NO_TERMLIST` in our case. We dont use any function that requires us to iterate over a term list. As far as size is concerned, for a simple zim with just three items like
[code]
Basically just long strings, these were the sizes (fullTextIndex, titleIndex) :
Without this patch : `(49152, 40960)`
With this patch : `(40960, 32768)`

All the unit tests are passing as well.

[2021-04-05 07:00] maneeshpm commented on #417
We are currently not using any Xapain function that required the use of a term list. Even after applying the `DB_NO_TERMLIST` flag, all the tests were passing. So we can say that it will not break anything.

As far as the size is concerned, it does reduces the space required to store a termlist. I created a small zim with only 3 plain-text items with and without the `DB_NO_TERMLIST` flag. Size of

[2021-04-05 07:06] kelson42 commented on #417
@maneeshpm Wow, this sounds promising. Do you understand the reasons why we don't need it and why we won't need it?

[2021-04-05 07:32] maneeshpm commented on #417
A termlist is required for the following operations: `Database::termlist_begin()`(and other iterator functions), `Enquire::get_eset()`, `WritableDatabase::delete_document()`, `WritableDatabase::replace_document()`, and iterating the values of a document.

- Currently, we are using Xapian only as a search engine(and probably will continue to do so). We do not have any operation where we would want

[2021-04-05 08:39] kelson42 commented on #417
@maneeshpm Perfect. If you can please implement this `DB_NO_TERMLIST` in a patch for our two Xapian indexes, this would be great!

[2021-04-05 08:47] maneeshpm commented on #417
@kelson42 Sure! it's a small path, will open PR soon.

[2021-04-05 16:15] #417 closed

[2021-04-05 17:04] maneeshpm opened #529 "Adapt functions and variables with new specifications"
According to the new specifications, we are hiding the namespace from path of the entries. With this change, we are also getting rid of the notion of "url". Many part of the code is up to date with the new scheme, but some modules still use it liberally and might cause confusion.
eg in dirent.cpp
Some naming changes required are `url -> path` and corresponding changes in the function `getUrl` and

[2021-04-06 14:06] mgautierfr commented on #417
Just for information,I had used the termlist to list terms associated to document when debugging the indexation/search.
Not a reason to keep it, but just remember that it could be useful to remove this flag if someone debug the xapian indexation.

15% of size saved is really nice :tada:

[2021-04-06 15:51] mgautierfr commented on #529
For libzim7 release, the target is the public API.
So for dirent it is not necessary to change (but it may be nice). The initial plan was to reduce the internal changes and concentrate on the API.
Internal changes could be "transparently" made later.

For `Item::getPath` and `Entry::getPath` it is normal.
The new API has no more explicit namespace in it (there is no argument "namespace" or "ns").

[2021-04-06 19:48] kelson42 commented on #525
Related to #527

[2021-04-07 16:18] #510 closed

[2021-04-08 03:46] christopherlim98 commented on #470
Hi, I encountered a similar problem. I am running on MacOS. Wondering if anyone found a fix for this.

[INSTALL PACKAGES]

[2021-04-08 09:08] rgaudin opened #532 "Missing Counter metadata"
Since the libzim-next merge, we've lost the automatic `Counter` metadata creation feature.

@mgautierfr is this a mistake or is there a reason behind this?

https://github.com/openzim/python-libzim/blob/c32525ec762a39224b88e997a7299c3836a70799/libzim/writer.py#L240-L245

[2021-04-14 13:24] #519 closed

[2021-04-14 13:24] #523 closed

[2021-04-15 13:50] #481 closed

[2021-04-15 14:44] maneeshpm opened #536 "Xapian queryparser fails when the querystring contains ampersand or other non words"
Refer openzim/libzim@f667d38
We get a xapian exception while trying to parse "Alice & Bob".  The error arises because Xapian operators `OP_PHRASE` and `OP_NEAR` only support leaf subqueries.

[2021-04-15 14:50] maneeshpm commented on #536
@veloman-yunkan Documenting the following issues about using  Xapian Query Parser with `OP_PHRASE`/`OP_NEAR` as default operator for future reference:
- Standalone ampersand works fine. "&" gets parsed to "", it gets escaped.
- For some reason, ampersand with exactly two words works fine as well. "Alice & bob" gets parsed to "alice bob".
- As the number of words increases xapian throws an error. "

[2021-04-16 06:45] kelson42 opened #537 "Handling of non-words in publisher query"
The approach used in `publisherQuery()` for building a phrase query
enforcing the specified prefix for all terms fails if the input phrase
contains a term that Xapian's query parser doesn't like (e.g. a
standalone ampersand character, 1/2, a#1, etc).

Using the `quest` tool (coming with xapian-tools under Ubuntu) the
issue can be demonstrated as follows:

[code]

The problem comes from parsing the

[2021-04-16 06:51] kelson42 commented on #537
Duplicate of #536

[2021-04-16 06:51] #537 closed

[2021-04-16 07:55] #536 closed

[2021-04-16 08:07] veloman-yunkan commented on #537
@kelson42 I don't see why you had to open this issue in libzim and then close it as a duplicate for #536. This bug was introduced and then fixed in the yet umerged PR kiwix/kiwix-lib#488. The only relation of that virtual issue to libzim is that an approach from libzim source code was utilized in new code added to kiwix-lib. The only thing that has to be done about that yet unmerged piece of code

[2021-04-16 08:10] kelson42 commented on #537
@veloman-yunkan I got confused, but to avoid any confusion in the future please always open a bug ticket before a fixing PR.

[2021-04-16 10:50] kelson42 commented on #529
@maneeshpm what should we do next with this ticket?

[2021-04-16 10:55] maneeshpm commented on #529
@kelson42 I agree with @mgautierfr. The public APIs have been changed already with the new scheme. Internal code can be changed gradually. So we can close this issue since it's not relevant for libzim 7.

[2021-04-16 15:51] #529 closed

[2021-04-21 09:41] mgautierfr commented on #532
Fixed by #539.
Now the counter metadata is generated and added automatically by libzim.

[2021-04-21 09:41] #532 closed

[2021-04-21 20:39] kelson42 opened #541 "Smart choice of M/Illustration_[heigt]x[width]"
This ticket is a follow up of #527

The API should return the given resolution, but it would be good, given a height and a width in pixels, that the libzim just deliver the best approximation.

[2021-04-22 07:30] maneeshpm opened #542 "get_snippets should also work for title snippets"
Currently `search_iterator::get_snippet` method only works for generating a ft search snippet. It should also be able to generate a title snippet in case of suggestion search.

This will help to fix kiwix/kiwix-lib#82

[2021-04-22 18:23] vgbundo opened #543 "writing obsolete compression type 1"
According to the zim file format specification, the four low bits of the first byte of a cluster indicate the compression type, and 0 or 1 indicate an uncompressed cluster.  It further states that 1 is an obsolete value.  Thus 0 should be used for uncompressed clusters.  However, current zim files are being created with the deprecated value of 1.

[2021-04-22 18:39] kelson42 commented on #543
@vgbundo which zim file exactly?

[2021-04-22 18:52] kelson42 commented on #543
@veloman-yunkan Are you able to confirm? Fix?

[2021-04-22 19:28] vgbundo commented on #543
It appears to be widespread if not universal. A convenient example (because it is a small file) is wikipedia_en_ray_charles_mini_2021-03.zim from download.kiwix.org/zim/wikipedia/. Cluster 2 starts at 0x56872 with 0x01.

April 22, 2021 11:39 AM, "Kelson" ***@***.*** ***@***.******@***.***>)> wrote:
	@vgbundo (https://github.com/vgbundo) which zim file exactly?

	—
You are receiving this because yo

[2021-04-23 07:45] kelson42 commented on #543
@vgbundo Indeed something is wrong here. The spec was wrong (or at least misleading) and we have fixed it, see https://wiki.openzim.org/w/index.php?title=ZIM_file_format&diff=31202&oldid=31192. Let us know if this is still unclear.

[2021-04-23 07:45] #543 closed

[2021-04-23 08:35] data-man opened #544 "User-defined compression level"
Currently libzim uses maximum compression (`ZSTD_maxCLevel`). It is **very** slow.
Some tests.
**File**: wikinews_en_all_maxi_2021-04.zim
**Original file size:** 240610314
**X/fulltext/xapian item size:** 34308096
**X/title/xapian item size:** 15613952

Level | Recompressed size | Real time | User time | Sys time
:--| -- | -- | -- | --
Default (ZSTD_maxCLevel) | 190614651 | 0m49.139s | 2m45.130s |

[2021-04-23 11:03] kelson42 commented on #544
@data-man This is done *one purpose* because we have only one compression (on a good server) and all the rest is decompressions (most of the time on low end systems). What is exactly the problem with the current libzim? You can not wait the creation of the ZIM file?

[2021-04-23 11:09] data-man commented on #544
@kelson42

Yes.

And I plan to use libzim in other applications.

[2021-04-23 17:32] kelson42 commented on #544
I think the key point is how to do that in an elephant manner, considering that we can have multiple compression algorithms?

I'm not really in favour of such a feature.... But if there is an elegant patch.... Why not!

[2021-04-23 17:49] data-man commented on #544
@kelson42

No, I hope it's shrew manner. :smile:

Which compression methods are planned?

Yeah, it's trivial patch.

[2021-04-26 08:39] kelson42 commented on #544
"elegant" was meant ;)

[2021-04-27 09:59] mgautierfr commented on #544
As @kelson42 said, the "classical" use case is to generate a zim file once and then download/use a zim file several times. So we set the compression value to reduce the size of the zim file at the cost of compression time.
But I agree we should not enforce this use case.
Especially that, as shown in the small benchmark, using a smaller compression value increase a bit the compressed size but impro

[2021-04-27 13:33] maneeshpm opened #546 "Search iterator is not being checked by unit tests"
The unit test base currently does not cover the search iterator. Its addition can ease the testing of several major upcoming changes.

[2021-04-27 20:57] vgbundo opened #548 "[Spec] Clarification for search indices"
Two things are unclear in the Zim file format specification regarding the search indicies.  I would like the specification to be clarified to help ensure compatibility between producers and consumers of Zim files.

1.  Must (or should) all search index items in namespace X be stored in uncompressed clusters?  This seems useful to allow random access to their content, but is not mentioned in the sp

[2021-04-27 21:00] kelson42 commented on #548
Yes, @mgautierfr Do you think we should modify the spec?

[2021-04-27 21:15] vgbundo opened #549 "Plan for lzma decompression support?"
I see that Zstd is now the default compression mode.  Will the ability to read lzma compressed clusters continue to be supported for the foreseeable future so that older archived zim files remain readable?

[2021-04-28 05:02] kelson42 commented on #549
@vgbundo We will keep the lzma decompression capability for a while (a few years), to secure older ZIM file stay readable with newer reders... but the goal is to deprecate it ultimatively.

[2021-04-28 05:02] #549 closed

[2021-04-28 13:50] kelson42 commented on #469
@mgautierfr What should we do with this ticket? Close it? Move it to `zim/zim-test-suite`?

[2021-04-28 13:55] mgautierfr commented on #548
It was implies by the mimetype which is "not compressible".
But yes, we MUST store indexes (and listing) in a uncompressed cluster.
I've updated the spec.

It can be redirect. It is up to the creator to decide. (I've updated the spec also).

[2021-04-28 13:56] #548 closed

[2021-04-28 13:57] mgautierfr commented on #469
We can move it to zim-test-suite yes.

[2021-04-29 22:04] IMayBeABitShy opened #551 "Assertion failed at cluster.cpp:116"
Hello,

I am getting the following error with various ZIM readers when trying to read a **custom** ZIM file:

`Assertion failed at ../../SOURCE/libzim_release/src/cluster.cpp:116
 new_offset[71113272] >= offset[4275949870]`

This error occurs when attempting to read said ZIM using `kiwix-serve`, `kiwix-desktop` and `python-libzim`. Earlier, `kiwix-serve` was able able to serve a ZIM built using a

[2021-04-30 04:12] kelson42 commented on #551
Does zimcheck passes properly on the ZIM file?

[2021-04-30 09:58] IMayBeABitShy commented on #551
No, it fails with the same assertion:

[code]

[2021-04-30 10:28] data-man commented on #544
What if this parameter will equal to some special value (`INT_MIN` or `INT_MAX`)?

[2021-05-01 22:12] IMayBeABitShy commented on #551
So, I did some more debugging on this. This time, I wrote a fake implementation of `python-libzim`, which instead of writing to the ZIM file directly, writes the file into a temporary directory and then calls `zimwriterfs` on it. Result: not only do both `zimcheck` and `kiwix-serve` still fail at the same assertion, `kiwix-serve` crashes directly on start instead of just showing the error once a c

[2021-05-02 03:23] kelson42 commented on #551
Thhx for all the testing, something is fishy here, we will have a look.

[2021-05-02 03:24] kelson42 commented on #551
@veloman-yunkan Would you be able please to help us here?

[2021-05-03 15:15] mgautierfr commented on #551
Would it be possible that you share your generated zim file ?

[2021-05-03 15:31] mgautierfr commented on #544
It would be better to have two methods. On with a compression level and one without (calling the first one with the correct default value for the compression algorithm)

[2021-05-03 19:14] kelson42 commented on #544
@mgautierfr so basically one with default compression level and an other one with the max level?

[2021-05-03 19:49] veloman-yunkan commented on #551
Code review suggests that the crash is due to a combination of two factors:

1. A bug in libzim - the cluster is marked as extended using not the total accumulated size but the size of the currently added item https://github.com/openzim/libzim/blob/223aaf3f1c528f0df27ed9601683b2d3548f7d48/src/writer/cluster.cpp#L230-L241
2. This bug is triggered by the large value specified for the `-m`/`--minChun

[2021-05-04 08:58] mgautierfr commented on #544
One without compression level (using the default(max)), one with compression level (no default, it is up to the user to specify it)

[2021-05-04 09:03] data-man commented on #544
And one more question: what about `lzma`?

[2021-05-04 09:14] mgautierfr commented on #544
Same. The default will change depending of the compression algorithm. (This is why we cannot have a default argument and we need a intermediate method without compression level).

[2021-05-04 13:27] IMayBeABitShy commented on #551
I can confirm that reducing the minclustersize to `1024` fixes the build (tested with the `python-libzim` build process, but it's likely the same for `zimwriterfs` too). Interestingly, I had assumed that the min cluster size would be in bytes, not in KiB, thus the specified size would have been 128 MiB.

Thank you all for your help. I'll leave this issue open until #552 automatically closes it.

[2021-05-04 13:44] mgautierfr commented on #551
Yes, this is a relics of old age. Now we are change the whole libzim api, it is maybe time to fix this and use byte for the size. I will open a issue for this.

[2021-05-04 13:47] mgautierfr opened #553 "Use bytes instead of kbytes to specificy the minChunkSize."
For I don't know which reason, the minChunkSize is specified in kilobytes. It would be better to have all size expressed in bytes.

I've keep this to avoid a (somehow silent) api break, but as we are breaking the whole api with libzim 7, it is maybe time to change this.

See #551

[2021-05-04 21:01] veloman-yunkan commented on #553
I think that the definition of `minClusterSize` must be improved/clarified as well. The current doc message of `Creator::configMinClusterSize()` is something between ambiguous and meaningless: https://github.com/openzim/libzim/blob/223aaf3f1c528f0df27ed9601683b2d3548f7d48/include/zim/writer/creator.h#L76-L85

[2021-05-05 13:13] mgautierfr opened #554 "Limit possible value of minChunkSize."
We may want to enforce we don't create a cluster bigger than 4Gb (and probably lower) (except when we have no choice (one blob > 4Gb))
A too big size for the cluster is counterproductive :
- For compressed cluster, we would have to uncompress a lot of data to access a blob
- zim-split try to split a zim on "natural" bondaries (ie cluster size). And we want to be able to split a zim file in part <

[2021-05-05 13:14] #551 closed

[2021-05-05 13:15] mgautierfr commented on #554
Related to #553

[2021-05-05 13:41] #546 closed

[2021-05-05 14:21] kelson42 commented on #554
I have no strong opinion on this but I would prefer to just leave it like it is. I don't really like the idea that we decide in place of the publisher.

[2021-05-09 06:10] kelson42 commented on #324
@maneeshpm Maybe you would be interested to refresh (and maybe fix) this ticket as it deals with two other aspects of Xapian search: stop words and steeming.

[2021-05-11 15:16] maneeshpm opened #556 "A new method search_iterator::get_zimId should be added"
Refer kiwix/kiwix-lib#107

Currently, the user has to maintain a vector of archives in order to identify the archive from which a particular search result is retrieved. The addition of such a method on libzim side which returns the uuid of the archive can make the job easier for the user.

[2021-05-12 05:41] maneeshpm opened #558 "search_iterator::get_snippet should use the same Stemmer used in query parser"
Snippets for searching "chocolate factory":
[code]
The Expected result is:
[code]
This happens because the query parser returns the stemmed matches to the query whereas `search_iterator::get_snippet` generates snippets without stemming.

To fix this, snippets must be generated with the same stemmer that was used to parse the initial query inside the query parser.

[2021-05-12 14:55] #463 closed

[2021-05-12 14:55] #471 closed

[2021-05-12 14:55] #516 closed

[2021-05-12 15:06] kelson42 commented on #558
@maneeshpm might this ticket be related or a duplicate of #86

[2021-05-12 15:09] #553 closed

[2021-05-12 15:28] maneeshpm commented on #558
@kelson42 Yes, this seems to be a duplicate of it and might be a solution to that issue. Should we close this one and continue to work on that?

[2021-05-12 16:03] #558 closed

[2021-05-12 16:07] maneeshpm commented on #86
@kelson42 `Xapian::MSet::snippet` provides a constructor that accepts a `Xapain::Stem` parameter. If we provide the same stemmer that was used to generate the query, snippets seem to be covering the reported case in this issue and the duplicate issue as well. So this is not exactly an upstream issue.

[2021-05-12 17:03] maneeshpm opened #560 "Should search continue without throwing error in absense of stemmer language?"
If stemming for a particular language is not available we throw an error. But stemming is more like a convenience feature and the absence of it should not really affect the way we handle search.

Instead of throwing an error should we rather continue "searching without stemming"?

[2021-05-12 17:07] maneeshpm commented on #560
My mistake. We are not really throwing an error. Sorry for the inconvenience, I should probably take a break for today :')

[2021-05-12 17:08] #560 closed

[2021-05-16 09:44] birros opened #561 "Assertion failed at narrowdown.h:111"
Hi,

A WebArchives user has experienced a crash with libzim version 6.3.0, the assertion that causes this crash can be found [here](https://github.com/openzim/libzim/blob/6.3.0/src/narrowdown.h#L111).

Unfortunately, I could not find which zim file causes this crash, sorry.

Version 6.3.0 being the last release and being a bit old, I don't know if this crash will still be present with the current

[2021-05-16 11:22] kelson42 commented on #561
@birros without the zim file, might be difficult to give a really helpful answer and to fix the libzim if necessary.

[2021-05-16 17:22] veloman-yunkan commented on #561
This issue may be fixed by 4a0d1bd0f54ddc59c43ccef72bac50559a591cbd or beb8ab2785862aeff6ca8fb7f6acdd865c2a12b4 (though the latter commit only changes how libzim fails in that particular case).

[2021-05-17 06:21] kelson42 commented on #561
@veloman-yunkan Thx for answering to @birros, but this is not clear to me if we have something in our codebase to fix?

[2021-05-17 09:55] mgautierfr opened #562 "Move search iterator API to camelCase."
libzim use camelCase api, search iterator should follow this convention (`getTitle` instead of `get_title`)

[2021-05-17 11:20] #556 closed

[2021-05-17 12:26] #86 closed

[2021-05-18 10:01] kelson42 commented on #562
@maneeshpm Would you be able to do so please?

[2021-05-18 11:43] maneeshpm commented on #562
Sure @kelson42, this has been on my mind as well. I'll get to it soon.

[2021-05-20 05:53] maneeshpm commented on #324
@kelson42 I can confirm that we still have this issue. But just like the Xapian team suggested on the upstream ticket, this is pretty much limited. We have this issue in FT search when a "nonstopword term" is stemmable to a stopword.
For example,
- When I search `"Le"`, `"Les"` or `"Lea"` (Lea stemmed to Le):
We can see that it matches all the stemmed versions in our document, which includes the s

[2021-05-20 06:13] kelson42 commented on #324
@maneeshpm Thank you for the update. Where have you pinged the Xapian team? The upstream ticket has not been updated?

[2021-05-20 06:24] maneeshpm commented on #324
@kelson42 I pinged them on the Xapian irc. Should I update that ticket as well?

[2021-05-20 06:31] kelson42 commented on #324
@maneeshpm No, thanks.

[2021-05-20 06:45] move[bot] opened #564 "kiwix-search suggestion does not work in absence of Xapian index"
*@maneeshpm commented on May 19, 2021, 7:41 AM UTC:*

Currently, in the absence of a Ft index `Searcher::suggestion` does not work. This is because of the following:

*   `Searcher::add_reader` does not add the reader if it does not have an ft index. For suggestion search, this is not important because we use the title index anyway. This `add_reader` logic needs to be changed.
*   In the absence o

[2021-05-20 06:52] maneeshpm commented on #564
@mgautierfr Can we have `SearchResultSet` to assume this dual behavior? Currently, it has a `Xapian::MSet` internally that helps to perform the iteration and other functions. We can make it to also house an `Archive::EntryRange` for the other case. then we can simply extend the existing functions (including the iterate operators) to use either the `MSet` or `EntryRange` depending on which one is a

[2021-05-24 08:29] JensKorte opened #565 "AVIF image format"
At [Briar](https://code.briarproject.org/briar/briar/-/issues/2048) I found this link to <https://jakearchibald.com/2020/avif-has-landed/>. The short conclusion at "AVIF has landed" is: very small file size, quite good quality but encoding takes a lot of time.

[2021-05-24 08:32] kelson42 commented on #565
@JensKorte libzim can store any kind of content. What is the puropose of this ticket?

[2021-05-24 08:46] JensKorte commented on #565
I thought of AVIF support to get smaller images and ZIM files. Since not all browsers support the use of AVIF, I thought of a converting support in the decompression process of libZIM.

[2021-05-24 08:51] kelson42 commented on #565
Zim format is content agnostic. Regarding our scrapers, we use format which are widely supported in browsers.

[2021-05-24 08:51] #565 closed

[2021-05-25 13:20] #562 closed

[2021-05-26 12:34] mgautierfr commented on #564
We could yes. Suggestions are some kind of search, whatever how we implement it.
This have do be done "correctly" and avoid to store a `Mset` and a `EntryRange` (probably using a union, or some kind of inheritance).

[2021-05-27 09:48] mgautierfr commented on #561
It will be difficult to reproduce without knowing the incriminated zim file.
But the assertion raised (and the bug associated) in the traceback has already been fixed.

So we can close it for now.

[2021-05-27 09:48] #561 closed

[2021-05-28 10:50] rgaudin opened #566 "Using libzim binary on alpine"
Trying to use libzim release on alpine, I realized we have **a ton** of missing symbols on our *static* binary.

After installing GNU's libstdc++ (`apk -U add libstdc++ gcompat`), it's better but sill…

[code]

I know that those symbols are not implemented in musl's version but I'd expect to see those in the GNU version. Is this to be expected ?

Just trying to understand ; using it on alpine is n

[2021-06-02 15:08] kelson42 opened #573 "Cluster size of 1M is too small"
We came years ago to the conlusion that 2M was a better compromise.

https://github.com/openzim/libzim/blob/master/src/constants.h

[2021-06-04 06:11] kelson42 commented on #573
@mgautierfr I have checked again with `zimrecreate --zstd --withoutFTIndex` and the result is ~ -5% if the cluster size is at 2M. To me seems to be something to do except if we have a potential problem at memory addressing/consumption. BTW, node-libzim does not specify this, so since X months we do not have anymore clusters of 2M there.

[2021-06-07 15:17] mgautierfr commented on #452
https://github.com/openzim/libzim/pull/465 make libzim install the `libzim_config.h` header with the define `LIBZIM_VERSION` set.
Depending projects can now use this define to print the libzim version to the user.
(Not sure we should also display information about libzim dependencies (zstd, ...). And it is probably not to the libzim library to handle this)

[2021-06-07 16:01] kelson42 commented on #452
What is asked in the ticket is not delivered yet. We should keep the ticket open or revamp it.

[2021-06-08 05:07] kelson42 commented on #566
@veloman-yunkan Maybe you can help @rgaudin on this?

[2021-06-08 09:53] mgautierfr commented on #452
We have a define publicly available. External software can use it to display them.

[2021-06-08 10:02] kelson42 commented on #452
I believe we should have a method delivering this list, otherwise each software will have to handle the whole stack of deps on its own. Which is super annoying.

[2021-06-08 10:05] mgautierfr commented on #452
I don't think that libzim should export version of other libraries.

[2021-06-08 10:31] kelson42 commented on #452
If we don't do so, we will have:
* A lot of duplicate in each end-user software
* Each software developer will have to be aware about the full dependence stack to be able to display it.
* Each time we add/remove a dependence, or each time the way to retrieve the version in a dependence change, all the softwares will have to be patched

@mgautierfr So why would want to do that if a simply abstracti

[2021-06-17 12:37] #525 closed

[2021-06-17 12:37] #527 closed

[2021-06-17 12:51] #514 closed

[2021-06-19 08:53] veloman-yunkan commented on #566
Adding `libgcompat.so` as an explicitly declared dependency of `libzim.so` reduces the number of unresolved symbols further:

[code]

[2021-06-19 09:36] veloman-yunkan commented on #566
I think that the deprecated/non-standard symbols `_sys_errlist` and `_sys_nerr` can be eliminated from `libzim.so` by replacing the few calls to `perror()` with `strerror()`.

Not sure where `getdirentries()` comes from.

[2021-06-19 11:53] kelson42 commented on #566
@mgautierfr Can we go forward with @veloman-yunkan propositions?

[2021-06-24 15:28] mgautierfr opened #578 "Compressor::feed may wrongly allocate a lot of memory."
The commit https://github.com/openzim/libzim/pull/570/commits/a7201ce949d8f1ec398f2c7b9fb8e811af1cacd2
wrongly try to allocate a bigger buffer for the output data (https://github.com/openzim/libzim/pull/570/commits/a7201ce949d8f1ec398f2c7b9fb8e811af1cacd2#diff-f89546dd4147a65d6ae025e38c7d09ce535c435db7f27984dc5256653d5a5c65R224-R245)

Before we were allocating in case of BUFFER_ERROR when `stream.

[2021-06-26 15:47] IMayBeABitShy opened #579 "Question: How to choose the optimal cluster size"
Hi everyone,

I was wondering how I can determine the optimal cluster size when creating a ZIM.
I am currently working on archiving a website containing a large amount of media. Roughly a quarter of all entries will be binary files (more specifically, a specialized variant of ZIP files) usually in the 10 to 20MB range, with some significantly larger.
The current build with only some of the data is

[2021-06-29 15:34] mgautierfr commented on #579
There is no easy answer here.

Cluster are used to regroup content together (and for compressible content, compress them together).
So the more content we compress together, the more the compression ratio will (may) be good.
But at reading we will need to decompress all file "before" the one we want in the cluster, and so we have a lost of performance. (And potentially a reading memory usage as we

[2021-06-29 15:52] #579 closed

[2021-06-30 16:33] mgautierfr opened #581 "Add string cast to zim::Uuid"
Following this discussion https://github.com/kiwix/libkiwix/pull/536#discussion_r661637997, we should add a cast to string method on uuid.

[2021-07-01 07:21] Popolechien opened #687 "Common constraint: Description metadata should not be empty"

[2021-07-02 20:58] kiicia opened #583 "zim/zim.h:35:10: fatal error: zim/zim_config.h: No such file or directory"
I am slowly crawling through installation of python libzim on cygwin with `pip install --upgrade libzim`.

After solving issues connected to required packages and taking hint from https://github.com/openzim/python-libzim/blob/master/setup.py to get headers from this repo and feed them to the process:

`export CFLAGS="-I/cygdrive/c/zim/include/"`

... I seem to hit wall, where file `zim/zim_config.

[2021-07-02 22:41] kiicia commented on #583
I was able to compile libzim (with some warnings) on cygwin after editing 4 source files, but it does not solve with python libzim

[2021-07-02 22:41] #583 closed

[2021-07-06 08:42] mgautierfr commented on #583
The `zim_config.h` is generated by the build process of libzim.
I must not take the header from the sources but the header installed. (or from a dist archive of libzim)

[2021-07-06 08:43] #581 closed

[2021-07-07 04:46] maneeshpm opened #584 "`SeachIterator::getTitle()` gives unaccented title"
`SearchIterator::getTitle()` gives the unaccented title instead of the actual title. That is, even if the title is `"DeLorean"`, we get `"delorean"` as the output.

When we index the title, the value stored in `title:0` slot of the `valuesmap` is the unaccented title. This happens because `zim::removeAccents()` is called in the constructor of `DefaultIndexData`.

This was missed by our unit tests

[2021-07-07 04:46] maneeshpm commented on #584
ping @mgautierfr

[2021-07-07 05:34] kelson42 commented on #584
Ticket is unclear to me, what is concretly the bug and the impact?

[2021-07-07 07:07] maneeshpm commented on #584
The bug is we will be getting the unaccented title using the `SearchIterator::getTitle` method. That is, if the actual title is `"DeLorean"`, we will get `"delorean"` as the output. We expect to get the title as it is.

[2021-07-07 08:13] mgautierfr commented on #584
I'm not sure of what to do here.

See https://getting-started-with-xapian.readthedocs.io/en/latest/concepts/indexing/values.html
As explained, the values are useful to do query/sort on them, not to store user information on the document.

We are using the title value to sort the result by title when we are in suggestion mode, and we probably want this sort being unaccented and case insensitive.

W

[2021-07-07 14:35] maneeshpm commented on #584
@mgautierfr I think we should go ahead and make it return the title of the entry. This way, we won't break anything that is already working and make the function behave in an expected manner.

[2021-07-07 15:00] mgautierfr commented on #566
The problem is that we are building libzim with glibc and we try to link it with musl. (I suppose every know already agree on this here)

- All the `__*_chk` symbol seems to come from the compilation with _FORTIFY_SOURCE (which is added by meson) (see https://stackoverflow.com/questions/55246192/musl-gcc-undefined-reference-to-memcpy-chk)
- getdirentries comes from xapian (`common/closefrom.c`). I

[2021-07-07 15:38] #442 closed

[2021-07-07 15:38] #573 closed

[2021-07-08 10:55] kelson42 opened #587 "Kiwix-Serve download overlay"
To propose, based on the metalink XML:
*  Magnet links
* Hashes
* Bittorrent links

This should be displayed if metalink is available and if someone click on the download button.

The parsing of the metalink file should be smart, ie. we download/parse only the part of interset in the XML and then stops. We are not interested in all the hashes.

[2021-07-08 10:55] #587 closed

[2021-07-08 11:29] rgaudin opened #588 "Matching default Illustration size?"
Current Illustration API is as follows:

[code]

Given we have a default retrieval size of `48`, I find it odd that there is no default size on the Creator as well ; especially given we [**require** a 48px Illustration](https://wiki.openzim.org/wiki/Metadata) in the spec: “`Illustration_48x48` is mandatory. Others are optional.”.

Btw, doc should prob. be updated as we currently have `Illustration

[2021-07-08 12:00] veloman-yunkan commented on #588
@rgaudin IMHO, a default value for the `size` parameter is not justified for `zim::Creator`. In fact, there could be no `size` parameter in the `Creator::addIllustration()` method, if it tried to be smart and deduced the illustration dimensions from `content`. But since the current approach in `libzim` is [to keep it simple](https://github.com/openzim/libzim/pull/540#issuecomment-839632387), it is

[2021-07-08 12:08] rgaudin commented on #588
Makes sense ; although that safety net is very thin as it's as easy to input garbage in this, not respecting neither size nor format and just passing `size=48`. I agree though that not having a default forces one to find-out in the spec or doc what's required 👍

[2021-07-08 16:22] mgautierfr commented on #588
You can see default in two ways :
- I can avoid to specify the value if it happens it is 48
- I let you decide what is the best default value, I don't want to decide. It happens it is 48 but the value itself is not really important.

I tend to follow the second way.
In this context, having a default value when reading make sens : "I want a illustration, I don't really care about the size (if I car

[2021-07-08 16:23] rgaudin commented on #588
OK, thanks for clarifications to both of you.

[2021-07-08 16:23] #588 closed

[2021-07-08 19:08] kelson42 commented on #541
This is important to allow readers to benefit of multiple illustrations. Without this feature, readers will have to implement the same kind of logic at there level… and we don’t want that.

[2021-07-09 05:28] move[bot] opened #589 "Provide a thumbImage path of an article"
*@automactic commented on Jan 17, 2018, 6:40 PM UTC:*

It might be a good idea to provide an optional thumbImage link in search result.

This way, when loading the search results, the apps utilizing kiwix-lib could show thumbImage alongside title and snippet. The book favicon can be displayed when thumbImage is absent. This make it obvious if a search result comes from a zim file with or without p

[2021-07-13 11:00] kelson42 commented on #578
@mgautierfr I thought you have understood what is going on here, but I see not branch/PR related to id, even in draft!?

[2021-07-13 11:08] kelson42 commented on #566
To my opinion, there is nothing reasonable we can do here. The solution here is not only to provide libzim compiled against musl, but the whole toolchain as well (at least python-libzim here), but we could think as well of zim-tools, libkiwix, etc... I don't think we should foloow that path. @rgaudin Would you agree to fix this ticket as WONTFIX?

[2021-07-13 11:12] rgaudin commented on #566
As stated in the ticket, the static cli binaries work properly on Alpine. What doesn't is building/linking on Alpine.

Sure, would have been a nice to have for me but I can live without it. Required effort doesn't seem worth it for now.

[2021-07-13 11:13] #566 closed

[2021-07-22 09:38] Jaifroid opened #590 "ZIMs made with newest version of libzim have invalid X/listing/titleOrdered/v1 data"
As first discussed at https://github.com/kiwix/kiwix-js/issues/708, ZIMs made with the newest version of libzim either have invalid metadata in the file header indicating erroneoulsy that they are v1 ZIMs when in fact they are v0, or else the index at `X/listing/titleOrdered/v1` has an incorrect `dirEntry` header which indicates that the index size is 0. ZIMs which appear to have this invalid form

[2021-07-23 12:30] rgaudin opened #591 "About workers and delays"
Apologies if this is obvious but I have difficulties documenting libzim's behavior.

My understanding is that on `startZimCreation`, a pool of `n` (`4` if not otherwise specified) `taskRunner` threads are started. An additional `clusterWriter` thread is also started.

Whenever an Item is added via `addItem`, there are a few stuff done in the main thread then in `addItemData` the _cluster_ is pushe

[2021-07-23 13:42] rgaudin commented on #591
Forgot to mention that in this example, the Item's content is larger than cluster size (10M vs 4M)

[2021-07-23 14:16] kelson42 commented on #591
@veloman-yunkan Would you be able to help @rgaudin with his questioning?

[2021-07-24 11:08] veloman-yunkan commented on #591
@rgaudin Are you absolutely sure that this is true? The unit assumed for the cluster size in the libzim API was recently changed from kilobytes to bytes (see #553). If you missed it, then your target cluster size may actually be 4G.

[2021-07-24 12:20] rgaudin commented on #591
Ah no I didn't known. Let me come back to you

[2021-07-24 13:19] move[bot] opened #592 "In French, the search can not treat properly the "d'""
*@kelson42 commented on Apr 9, 2018, 5:17 PM UTC:*

What I do:

<div class="snippet-clipboard-content position-relative" data-snippet-clipboard-copy-content="$ ./kiwix-search -s wikipedia_fr_all_novid_2018-03.zim &quot;actium bataille&quot;
$
">

[code]

</div>

So, no result. But IMO I should get the same result as with the following command:

<div class="snippet-clipboard-content position-relati

[2021-07-24 14:01] veloman-yunkan commented on #590
What about `X/listing/titleOrdered/v1` entry being actually empty? This can happen if the creator [doesn't provide](https://github.com/kiwix/libkiwix/issues/588#issuecomment-886057241) correct hints about items being added to the ZIM archive (in this case a front item hint is required).

[2021-07-24 14:06] Jaifroid commented on #590
@veloman-yunkan We were indeed asked to account for an empty v1 index, and to fall back gracefully to using the v0 index, which is what happens in this case. However, it is therefore an invalid type 1 (`minorVersion`) ZIM, and what we @ kiwix-js really need is a real-life reference v1 ZIM that we can use for standardized testing purposes.

[2021-07-24 19:41] rgaudin commented on #591
Thanks @veloman-yunkan, you were right, the cluster wasn't full enough to be written. Doesn't seem really practical to get a single Item written before finishing the Zim so I've added other after and that matched the description.

Given the above description, could you explain how/when does the indexing happens and how that might impact releasing the provided Item?

[2021-07-25 06:57] veloman-yunkan commented on #591
@rgaudin

To the best of my understanding indexing should have no impact on the act of releasing an item during ZIM creation. Items should be released when the cluster they have been assigned to is closed. @mgautierfr, as the author of the ZIM writer, can provide more details with less effort.

[2021-07-27 14:49] #584 closed

[2021-07-27 16:40] mgautierfr commented on #591
No, the cluster is pushed to the two queues when we mark the cluster to be closed, the may happen when we try to add a item to a already full cluster, but not all the time.
We must may for the cluster to be full before writing/compressing it as we need to know all offsets of the data before.
And (what you've missed) a cluster is not closed after we add a content to it, but before we add a new one.

[2021-07-27 16:44] rgaudin commented on #591
Thanks 🙏

[2021-07-27 16:44] #591 closed

[2021-07-28 09:24] kelson42 commented on #591
There might be a really good reason for that, but at a first look this seems:
* Counter intuitive
* Leads to additional memory consumption (longer in memory)
* Leads to slow downs because things which could be done immediatly, should be done immediatly.

[2021-07-28 10:28] mgautierfr commented on #591
We don't know if a cluster is full before we try to add a new content.
If we have a requested cluster size of 1024 and the current cluster size is 1000, then the cluster will be close or not at 1000 depending of the new content:
- If it is less than 24 (let's say 10), we add the content to the cluster, new size is 1010 and we have 14 space left.
- If it is more, we close the cluster with a size of

[2021-07-28 10:30] kelson42 commented on #591
@mgautierfr Thx for the clarification, but in this example, we know, because the one item is already a lot larger than the cluster size?!

[2021-07-28 10:41] mgautierfr commented on #591
Yes, but it is somehow a exceptional case. Keep the cluster open to close it the next time doesn't change a lot of thing and it simplify a lot the code.

Once you know what is the problem, this is not counter intuitive.

It would be additional memory if we keep the cluster in memory while we are creating a new one. But we are always closing cluster before opening a new one.

"Closing" the cluster

[2021-07-29 05:47] kelson42 commented on #578
@mgautierfr What is the status here? We just have released version 1.1.7 of the Gutenberg scraper which introduce zstd conpression in place of lzma. It seems that for this scraper at least, we have/had a regression impacting the lzma compression. Considering that lzma is going to be deprecated at some point, I believe fixing a bug on lzma conpression is not a priority. The question left is: do we

[2021-07-29 10:33] rgaudin opened #595 "Documentation is broken"
Since #574, the documentation can not be generated as the auto-doc part (doxygen) is broken

[code]

You can check the log at https://readthedocs.org/projects/libzim/builds/14216625/

[2021-07-29 17:43] maneeshpm opened #596 "In `SearchResultSet::getResults(int start, int end)` end is max result count"
In `Xapian::Enquire::get_mset(arg1, arg2..)`, arg1 is the begin offset or the `start`. And arg2 is max result count, but we have been wrongfully using it as `end`.
ie, `searchResultSet.getResult(10, 10)` does not return results in the range (10, 10) or no result. Rather, it returns results in the range (10, 20), ie 10 results from an offset of 10.

The documentation needs to be fixed.

[2021-07-30 06:52] kelson42 commented on #596
@maneeshpm Hopefully, easy to fix.

[2021-07-31 13:01] #578 closed

[2021-08-03 16:29] #595 closed

[2021-08-03 20:05] kelson42 opened #600 "Impossible to run the tests"
Probably because the README is misleading.
[code]

[2021-08-03 20:10] #600 closed

[2021-08-03 20:50] kelson42 commented on #470
This ticket is one of the last blocker to release libzim7.0.0 and we need to close it.

@mgautierfr  This scenario seems not tested in Kiwix Build CI (we only test iOS compilation on macOS), so this might explain why we don't see failing.

@automactic @christopherlim98 The root cause is still unclear to me.The only idea I have is that for some reason the user running the test does not have enough

[2021-08-04 08:16] mgautierfr commented on #590
How those file have been generated ?
If it is a stackexchange zim, I assume it is generated throw sotoki which use the python binding.
python-libzim still not support Hints and it is necessary to mark entries as front_article (and put them in `X/listing/titleOrdered/v1`).

What could be done on libzim side, at best, is to avoid create a `X/listing/titleOrdered/v1` if it is empty.
But to really fix

[2021-08-04 08:35] #596 closed

[2021-08-04 09:00] mgautierfr commented on #470
The falling test is probably https://github.com/openzim/libzim/blob/master/test/cluster.cpp#L225-L273
It is skipped on 32bits arch and on CI (because it use a too much memory). This test is creating a file >4Gb.

Can you test with the branch https://github.com/openzim/libzim/tree/fix_write_to_buffer on your side ?

[2021-08-04 09:07] kelson42 commented on #590
@mgautierfr Yes, it was a Sotoki ZIM file, before your fix for the hints.

[2021-08-08 14:45] automactic commented on #470
@mgautierfr Hey, looks like this new branch is working

[2021-08-10 09:49] #470 closed

[2021-08-11 08:27] #348 closed

[2021-08-11 08:44] #590 closed

[2021-08-11 08:48] kelson42 opened #605 "Prepare release of libzim7"
Changelog + other stuff.

Would like to secure python-libzim 1.0 is ready before releasing libzim7.0.0, see https://github.com/openzim/python-libzim/milestone/1

I would like as well that libkiwix is releasable before releasing libzim1.0.0, so in case there is a problem at the reader side we can quickly fix/release new versions.

[2021-08-11 09:37] #564 closed

[2021-08-11 09:39] kelson42 commented on #605
@mgautierfr Can you please fix the following warnings:
[code]

[2021-08-11 17:07] maneeshpm opened #606 "Stemming strategy should not be changed"
Essentially we should revert 3508e103072c4abcff9c721b88c1f9a9e12cbb3b as it breaks back-compatibility, and is not needed for libzim to function properly.

[2021-08-12 08:50] #606 closed

[2021-08-19 08:54] mgautierfr opened #608 "Add small documentation and transiton guide from libzim6 to libzim7"

[2021-08-19 08:56] mgautierfr opened #609 "Do a last review pass on the libzim api before releasing."
Libzim7 changes a lot of its API and those changes come from several big PR.
It would be nice to have a last global look to check for API consistency before doing the release.

[2021-08-19 08:57] mgautierfr opened #610 "Fix warning"
@mgautierfr Can you please fix the following warnings:
[code]

_Originally posted by @kelson42 in https://github.com/openzim/libzim/issues/605#issuecomment-896673982_

[2021-08-19 18:03] #610 closed

[2021-08-22 16:26] IMayBeABitShy opened #614 "Current Zim checksum generation behavior is inefficient and somewhat suboptimal"
Hello everyone,

I believe the way the Creator generates the checksum of a newly created ZIM is highly inefficient and a bit suboptimal.

To my understanding, the Creator currently does the following:
1. Create and write the ZIM file content
2. Write headers
3. Read the whole ZIM file again and generate the checksum, then write it to the ZIM file.

This process - more specifically step 3 - has two

[2021-08-22 16:37] kelson42 commented on #614
AFAIK it works like you describe. The checksum is not there to detect problems during the file creation but during a copy of this file during a further state. We have `zimcheck` to detect problems in a ZIM file and this is systematically run in the Zimfarm. There might be an other way to compute the checksum (1) from the data before they are written (2) allowing easier update of the value... but I

[2021-08-22 16:58] IMayBeABitShy commented on #614
A possible approach could be to first calculate/update the checksum of the clusters when they are written, then update the checksum with the header/... data afterwards instead of calculating the checksum of the whole file from start to finish.  However, this approach has severe drawbacks: it would likely break backwards-compatibility (at least when checking the checksum) and the checksum would no

[2021-08-23 08:41] #608 closed

[2021-08-23 08:43] mgautierfr opened #615 "Deb packaging CI is failing."
See https://github.com/openzim/libzim/runs/3398272391?check_suite_focus=true

[code]

[2021-08-23 15:09] #615 closed

[2021-08-23 15:10] legoktm commented on #615
It'll take about ~25 minutes for the new images to be pushed to Docker Hub, I'll retry the builds once that happens.

[2021-08-23 15:36] legoktm commented on #615
https://github.com/openzim/libzim/runs/3402012459 looks good now. Sorry about that!

[2021-08-28 19:56] kelson42 commented on #418
@mgautierfr @maneeshpm I’m in favour of closing this ticket and opening a new one requesting a pre-setup of the enquires for both the title and the ft indexes. Good for you?

[2021-08-29 07:20] maneeshpm commented on #418
@kelson42 I agree. We need to break this into actionable tickets and presetup of enquire can the first of these.

[2021-08-29 08:01] kelson42 opened #617 "Speed-up Xapian searches by preloading indexes"
#418 has shown that the typical steps for a search are:
1. Read the zim file (to be able to locate the xapian index in it) : Cold : 7.44s | Warm : 0.12s
2. Open the xapian database (internal xapian code) : Cold : 0.09s | Warm : 0.003s
3. Set the enquire on the database : Cold : 0.02s | Warm: 0.0004s
4. Run the enquire and get a set of (ranged) results from the enquire (internal xapian code) : Cold

[2021-08-29 08:01] kelson42 commented on #617
@mgautierfr @maneeshpm What do you think? Is that a proper approach?

[2021-08-29 08:05] kelson42 commented on #418
@mgautierfr @maneeshpm I have open #617 to propose a pre-loading of the Xapian indexes/enquires. Closing that one.

[2021-08-29 08:05] #418 closed

[2021-09-02 13:34] mgautierfr opened #618 "Memory leak in libzim creator using StringItem."
There is a reference loop in libzim when using `StringItem`.

`Item::getIndexData()` store a shared_ptr to the `DefaultIndexData` to avoid libzim to create two `DefaultIndexData`.
The `DefaultIndexData` uses (and stores) a `ContentProvider`.
But the ContentProvider for a `StringItem` is a `SharedStringContentProvider` which share ownership to the item's content with the item itself.

The `StringIt

[2021-09-02 13:52] kelson42 commented on #618
@mgautierfr what kind of impact does it have? Is this a big or a small memory leak?

[2021-09-02 14:14] mgautierfr commented on #618
Pretty big as we leak the `Item`, the `DefaultIndexData` and the `ContentProvider` associated (so all the content of the item).

We don't use `StringItem` in python-libzim.
But we use it in zimwriterfs for html and css content.

[2021-09-02 14:19] mgautierfr opened #620 "Do not call twice `Item::getIndexData`."
We are calling `Item::getIndexData` twice. Once for title index and once for the fulltext index. This is because we have two different handler for the two indexer.

We should probably have only one itemHandler for xapian. It will call once `getIndexData` and pass it (shared_ptr) to the title index and to the fullext index worker.

[2021-09-02 14:38] mgautierfr commented on #618
python-libzim doesn't use `StringItem` but zimscraperlib stores a reference to the item in the Provider as does the `StringItem` (https://github.com/openzim/python-scraperlib/blob/master/src/zimscraperlib/zim/providers.py#L34-L37)

@rgaudin is already working on this.

[2021-09-02 19:09] #618 closed

[2021-09-03 16:52] rgaudin opened #621 "Checksum calculation seems slow"
Noticed the following during finish of a 5GiB ZIM. It looks like it's spending 36s calculating the MD5 checksum.

[code]

[code]

It doesn't look like it's doing much after calculating that sum in `writeLastParts()`:

https://github.com/openzim/libzim/blob/9c26a3c0bfe59fd26ab6bd7e4272ab50ca207bcb/src/writer/creator.cpp#L372-L392

On that computer, manually calculating it, by reading 1024b chunks,

[2021-09-03 19:19] rgaudin commented on #621
#614

[2021-09-06 08:36] rgaudin commented on #618
Tried to setup a quick test that would show the leak by using just scraperlib but I'm not seeing increasing RAM usage. Will take another look at it later this week.

[2021-09-06 13:12] #621 closed

[2021-09-06 13:44] mgautierfr commented on #614
It seems that it is not the IO which in cause here.
On my test case, the checksum takes around 16s. If I change the code to compute a dummy checksum without doing any IO, I go to 14s.
But md5sum on the final file takes a bit more than 3s.

Using the openssl's implementation instead of the libzim one takes also 3s, but make libzim depends of another dependency.

[2021-09-08 07:08] kelson42 opened #624 "wikiHow has broken suggestions with latest stable Kiwix release"
Playing with https://mirror.download.kiwix.org/zim/.hidden/dev/wikihow_tr_all_2021-09.zim.

The suggestions don't work at all with:
* latest Kiwix-Desktop 2.0.5: I get a blank page when I click on a suggestion
* latest Kiwix-Serve 3.1.2-5: A fulltext search is started when I click on a suggestion.

This does look like a bug to me.

[2021-09-08 07:08] kelson42 commented on #624
@maneeshpm Would you be able please to have a look?

[2021-09-08 07:51] maneeshpm commented on #624
@kelson42 It seems to be working on latest libzim/libkiwix :confused:
![Screenshot from 2021-09-08 13-19-26](https://user-images.githubusercontent.com/45821104/132468777-9a98a940-a888-468e-b39b-f24299cb9436.png)
Can you confirm the issue?

[2021-09-08 12:14] kelson42 commented on #620
Where are we regarding this ticket and the memory leak in pylibzim?

[2021-09-08 12:21] mgautierfr commented on #620
This is a libzim issue only. And it is a performance issue not a memory leak problem.

[2021-09-08 14:38] kelson42 commented on #624
@maneeshpm Yes it does, sorry for not mentioning this.

[2021-09-20 17:22] maneeshpm commented on #624
@kelson42 As far as I have tested, Suggestion seems to be working fine on libzim/libkiwix github master on the given zim file. What exactly is the issue that we need to investigate?

[2021-09-20 18:21] kelson42 commented on #624
@maneeshpm latest stable releases... the ones actually on production.

[2021-09-22 08:42] mgautierfr commented on #624
To be clear, we are testing a "new" zim file (created with not yet (but soon) released version of libzim) with a "old" reader (released libzim).

We have to investigate what happen. Do we wrongly create the zim file ? Are we ok with this or do we want to fix the creation process before releasing ?

[2021-09-22 15:46] maneeshpm commented on #624
@kelson42 I am testing against libzim 6.3.0(17 nov) / libkiwix 9.4.1 (17 nov) / kiwix-tools 3.1.2(2 jul 2020) and suggestions seems to be working for me. Can you confirm these versions?

![Screenshot from 2021-09-22 21-08-42](https://user-images.githubusercontent.com/45821104/134376879-14eb445b-74c3-4c85-a3c7-9aaac223cc79.png)

[2021-09-22 17:42] maneeshpm commented on #624
@kelson42 @mgautierfr aaha found the issue! This is going to be a nasty one.

This has actually to do with the way we "handle content" in the new and the old libzim. In the new libkiwix we directly use the `path` key of the suggestions json to get the "clicked" suggestion. But in older libkiwix, we don't have this key, all we have is the `label`(which is same as the `title`). So to get the clicked

[2021-09-23 09:34] mgautierfr commented on #624
Well, we have a tool that explicitly search something in "A" namespace where the content is in "C" namespace. This obviously can't work.
I see 3 "solutions" :

- Move back the content from `C` namespace in `A` namespace. I somehow dislike this idea. This means a lot of rewriting/testing of libzim (where we are/were pretty close to release it). And all zim file created with master would be invalid.

[2021-09-23 10:13] kelson42 commented on #624
I believe there is nothing much we can do, should do. Considering that we are anyway going to release new version of libkiwix very soon. The only way to fix this would require to create new ZIM files which somehow work fine with older/current Kiwix. This seems not possible. Therefore, I would just close this as WONTFIX.

[2021-09-23 10:18] rgaudin commented on #624
Agrees with @kelson42. Is it worth creating a `known-bug` label for later reference or is it the only issue we have?

[2021-09-24 03:36] maneeshpm commented on #624
I agree with @kelson42, anything we do to patch this issue will introduce a new layer of *unwanted* complications.  Closing this as wontfix. @rgaudin `known-bug` is a good tag to have!

[2021-09-24 03:37] #624 closed

[2021-09-27 05:34] kelson42 commented on #617
Any update here?

[2021-10-05 22:18] lizfrank commented on #470
I'm getting this error in the current master.  Can you take another look at it?  Thank you.

[2021-10-06 04:27] kelson42 commented on #470
@lizfrank can you please open a new ticket and put your own details and logs?

[2021-10-06 09:01] rgaudin opened #629 "What is stored for empty titles?"
The [spec](https://wiki.openzim.org/wiki/ZIM_file_format#Content_Entry) says that what is stored for Entry (content or redirect) titles is

As this is the documentation of the *Directory Entries*, it is not clear what exactly happens when setting `title=""` on an Entry:

- Is the URL (path) duplicated and stored as title ?
- Is an empty string stored and the libzim returns URL when being queried f

[2021-10-06 09:42] mgautierfr commented on #629
If the title is empty we are storing an empty string (a simple `\0`).
Even more, if the title is equal to the url, we are also storing an empty string (as the reader part will return the url).

(This also means you cannot have a true empty title. You have a title or a title equal to the url)

[2021-10-06 09:46] rgaudin commented on #629
Thanks ; that's clear now.

If there is such a strong assumption on the title being the URL in case it was set empty, shouldn't `getEntryByTitle()` work when passing the URL? At the moment, it doesn't.

[2021-10-06 09:46] #629 closed

[2021-10-06 09:54] mgautierfr commented on #629
`getEntryByTitle` search on front articles only if a v1 listing exists.
If you don't set any front articles, the creator doesn't generate a v1 listing and `getEntryByTitle` should work with url (for entry without title).

[2021-10-06 10:00] rgaudin commented on #629
Ah OK, I need to update pylibzim dosctring to specify this.

I was testing on [example.zim](https://github.com/kiwix/kiwix-lib/raw/master/test/data/example.zim) which is no-ns but has the v1 title list

[code]

[2021-10-06 22:21] lizfrank opened #631 "kiwix-build fails: 2/26 cluster FAIL"
OS: ubuntu 18, x86_64
Cloned today, 10-6-21:
git log output:
commit c3a0a27361bf634df8df100ef3b1c71e190ea6b8 (HEAD -> master, origin/master, origin/HEAD)
Merge: a95106b 2301647
Author: Matthieu Gautier <mgautier@kymeria.fr>
Date:   Wed Oct 6 10:17:19 2021 +0200

    Merge pull request #496 from kiwix/specify_signtool_algorithm

This is the tail end of the build:

[----------] Global test environme

[2021-10-07 05:15] kelson42 commented on #631
@lizfrank ses, please provide the command and the full log.

[2021-10-07 15:40] #605 closed

[2021-10-08 06:50] legoktm opened #632 "Dirent test fails on 32-bit architectures"
Introduced in e66c16050c68ba025f61a69e23c76d3a10b4038c

On armhf:
[code]

On i386:
[code]

[2021-10-08 06:55] legoktm commented on #632
full build logs:
* https://launchpadlibrarian.net/562402237/buildlog_ubuntu-hirsute-armhf.libzim_7.0.0+git202110070935.e662621~hirsute_BUILDING.txt.gz
* https://launchpadlibrarian.net/562492684/buildlog_ubuntu-bionic-i386.libzim_7.0.0+git202110071540.48d16bd~bionic_BUILDING.txt.gz

[2021-10-08 07:27] kelson42 opened #633 "MacOS libzim 7.0.0 build has not been done"
https://download.openzim.org/release/libzim/

[2021-10-08 09:48] mgautierfr commented on #633
This is fixed.

[2021-10-08 09:48] #633 closed, assigned to mgautierfr

[2021-10-09 05:26] #632 closed

[2021-10-12 14:43] rgaudin opened #635 "Add a getMetadataEntry() endpoint"
Current API only offers two ways around ZIM metadata:

- `getMetadataKeys()` which returns a list like `["Name", "Title", "Illustration_48x48@1", "Description"]`
- `getMetadata("Name")` which returns the *content* of the metadata Item.

There is no way [^1] to retrieve the metadata Entry, and thus the mimetype of a given metadata which leads to code [like this in libkiwix](https://github.com/kiwix

[2021-10-12 15:43] mgautierfr commented on #635
As we must not have redirection in metadata we can directly have a `getMetadataItem()` (even if the method itself should be prepared to have redirection)

[2021-10-13 18:42] #631 closed, assigned to mgautierfr

[2021-10-17 13:59] hashworks opened #637 "Tests fail with new 7.0.0"
I'm trying to build libzim 7.0.0 [for Arch Linux](https://archlinux.org/packages/community/x86_64/libzim/).
However, multiple tests are failing. I'm already using `SKIP_BIG_MEMORY_TEST=1`.

[code]

[This is the PKGBUILD](https://fb.hash.works/LyhGCW/) we're using. [This is the full build log](https://fb.hash.works/asWLyzLA/), and [this is only the `testlog.txt`](https://fb.hash.works/vTPXl/).

Any

[2021-10-17 15:09] hashworks commented on #637
I'll recompile it and test again.

Added the test data, [new PKGBUILD](https://fb.hash.works/kIS9tpO/).

Down to one failure :)
[code]

[`testlog.txt`](https://fb.hash.works/lPW7rGp/):
[code]

[2021-10-20 09:41] hashworks commented on #637
https://fb.hash.works/7PV9Cav9/

b9315c13fe89a214ba8904c4abd6bcfe

[2021-10-20 14:52] #635 closed, assigned to mgautierfr

[2021-10-20 15:24] hashworks commented on #637
Seems to build with test suite commit `31ffbefd6699384d80e1f584b69b4321c843bc0c`. Thanks!

[2021-10-26 08:32] mgautierfr opened #642 "Define indexation criteria"
Following https://github.com/openzim/python-libzim/issues/125, we must better define what entries we index.

Also related to https://github.com/openzim/python-libzim/issues/73

[2021-10-27 13:19] mossroy opened #643 "Add built-in compatibility with emscripten compilation"
We are currently able to compile libzim with emscripten, but it needs a small patch on debug.h : https://github.com/mossroy/libzim_wasm/blob/master/patch_libzim_for_emscripten.patch

It would be better to handle the case of emscripten compilation in this file, so that libzim could be compiled without any patch

[2021-11-01 09:07] maneeshpm opened #644 "Switch default_op for Suggestion queryParser to OP_AND"
Working on kiwix/libkiwix#620 made me realize that for some reason when we reuse a searcher from cache, it is initialized with the default_op that is set to `OP_OR` now. This was not significant till now because we were not "really" reusing any searcher.

[2021-11-11 16:00] DawnArchi01 commented on #450
@mgautierfr @kelson42  Hey there ! I saw this a good first issue and thought of giving it a try . I'm quite new to this open source contribution thing and haven't really figured out what is the issue here . I would be really glad & thankful if I can help by contributing to the cause . So can anyone help me out with this @

[2021-11-11 16:38] kelson42 commented on #450
@DawnArchi01 Thx for your proposal but this ticket is pretty old, might need a refresh. @mgautierfr Any update?

[2021-11-11 18:22] DawnArchi01 commented on #450
Ohh I understand , thanks

[2021-11-15 09:04] mgautierfr commented on #450
This bug is still actual.
The problem is in the code to checkout the code in the CI : https://github.com/openzim/libzim/blob/master/.github/workflows/ci.yml#L122-L142

If we are building for a tag, the CI fails this way : https://github.com/openzim/libzim/runs/3829204345?check_suite_focus=true

[2021-11-26 16:00] #644 closed

[2021-11-28 13:26] kelson42 commented on #614
@mgautierfr We could make openssl an optional dependence and keep this version of the code as fauktback?

[2021-12-04 05:54] kelson42 commented on #614
Maybe it sould be an opportunity to use a super fast hash, like http://cyan4973.github.io/xxHash/.

On the other side, if at some point we need to sign content, see #40, linking to open SSL will be necessary.

[2021-12-04 06:10] kelson42 commented on #377
Now, with libzim7, we can specify a content to index whoch is different from the content of the article. But this does not resolve the primary purpose of this ticket.

[2021-12-04 06:12] kelson42 commented on #589
This depends on #316

[2021-12-04 06:33] kelson42 commented on #384
@mgautierfr Do I’m right or this has been fixed in libzim7?

[2021-12-04 06:37] kelson42 commented on #396
@mgautierfr We need to move on this, more and more devices use this arch.

[2021-12-12 11:13] amirouche opened #649 "Alpine 3.5 musl fix"
To compile on alpine, I had to use the following patch with `__GNU_LIBRARY__`

[code]

The tests ran successfully. I hope this helps.

[2021-12-12 12:28] kelson42 commented on #649
@amirouche @mgautierfr @rgaudin Related to #566?

[2021-12-13 09:17] amirouche commented on #649
yes

[2021-12-15 15:08] kelson42 commented on #384
Everything beside the "attach an arbitrary content URL to route to for fulltext/title indexing" has been implemented and the last point is not needed anymore

[2021-12-15 15:08] #384 closed

[2021-12-18 12:22] kelson42 commented on #649
@amirouche After talking with @mgautierfr and @rgaudin, your fix looks good. Please make a PR (or I will do one) so we can merge it.

[2021-12-18 13:18] #649 closed

[2021-12-19 10:39] kelson42 opened #653 "Introducing popularity/importance factor at indexion time"
The problem is that the current indexing (both ft and suggestion) is only based on word occurrence. Even if this works good there is no _easy_ way for the index to know that the Wikipedia "Apple" is more important than ".apple".

The idea would be to be avaible to slightly tweak the current algorithm by giving an external numerical factor at indexing time. That way we could make a ponderation and

[2021-12-19 13:00] holta commented on #653
Thanks for this exploratory thread.

_A Short-Term Suggestion for "2022" :_

If the child searches for "apple", how about showing them the article they actually searched for?

https://en.wikipedia.org/wiki/apple

Or...the (identical after redirect) article:

https://en.wikipedia.org/wiki/Apple

Instead of accidentally/prominently advertising ~10 different Apple(TM) products to the young child!

RE

[2021-12-21 19:30] #642 closed

[2021-12-31 07:07] #452 closed

[2022-01-02 21:56] kelson42 commented on #643
@mossroy What could be done here? anyway to detect the emscripten compilator with a #if ?

[2022-01-02 22:01] mossroy commented on #643
Probably : https://emscripten.org/docs/compiling/Building-Projects.html#detecting-emscripten-in-preprocessor

[2022-01-02 22:02] kelson42 commented on #643
@mossroy :) Looks like we came to the same conclusion. Will male a PR.

[2022-01-02 22:12] kelson42 commented on #617
@mgautierfr @maneeshpm We have started the dev of 7.2.0. Do we agree on this approach?

[2022-01-02 22:15] kelson42 commented on #541
I guess screen pixel depth shoukd be an argument as well.

[2022-01-03 22:23] TheDuchy opened #659 "sphinx_rtd_theme missing from docs build dependencies"
Can be fixed by installing `sphinx_rtd_theme` via pip. Otherwise the build will throw an error. Tested on latest Ubuntu.

[2022-01-03 22:27] kelson42 commented on #659
@TheDuchy Thx for the report, feel free to make a PR.

[2022-01-05 16:52] #643 closed

[2022-01-16 17:32] kelson42 opened #663 "CI seems to have a dependence to https://mirror.download.kiwix.org/dev/zstd-1.4.5-wrap.zip"
This is really strange as it should rely on zstd-1.5.1! It is not clear as well what this version of zstd provides.

[2022-01-28 12:51] adigitoleo commented on #452
Alternative idea, possibly complimentary: version the ZIM file spec. Track somewhere (changelogs) which versions of libzim/zimwriterfs/etc. are compatible with which ZIM spec version. This is done for other file formats, e.g. [hdf5](https://docs.hdfgroup.org/hdf5/develop/_s_p_e_c.html), toml, etc.

[2022-01-31 05:54] kelson42 commented on #389
@legoktm I reopen the ticket as the change has not been applied to Debian repository.

[2022-01-31 07:36] legoktm commented on #389
This is still on my list to do, I'm just aiming to get the libzim7/libkiwix10 upgrades done first before the rename.

[2022-02-03 16:39] kelson42 commented on #286
Closing for the moment, this is still no ready and there is no release date. We will have a look to the new backend when Xapian 1.5 will be released.

[2022-02-03 16:39] #286 closed

[2022-02-03 16:57] data-man commented on #286
What about [LucenePlusPlus](https://github.com/luceneplusplus/LucenePlusPlus)?

[2022-02-03 17:04] kelson42 commented on #286
@data-man We tried this 10 years ago without much success.

[2022-02-11 19:59] #659 closed

[2022-02-15 10:39] Animeshz opened #670 "The reader test seems to stuck in a deadlock (zim-testing-suite) for some reason."
Seems like running `meson test` fails with the first test of reader.cpp test going timeout of 120s.

Logs:

[code]

[2022-02-15 11:27] kelson42 commented on #670
Have you tried `SKIP_BIG_MEMORY_TEST=1 meson test `

[2022-02-15 11:45] Animeshz commented on #670
@kelson42 still seems to stuck there

[code]

[2022-02-15 11:54] kelson42 commented on #670
@mgautierfr @veloman-yunkan Any idea?

[2022-02-15 17:25] veloman-yunkan commented on #670
@Animeshz

Please run

`gdb -ex run -args /builddir/libzim-7.2.0/build/test/reader`

wait for a few seconds, hit CTRL-C, enter the `bt` command in the gdb prompt and paste its output here.

[2022-02-15 18:02] Animeshz commented on #670
@veloman-yunkan

[code]

[2022-02-15 20:50] veloman-yunkan commented on #670
The test at https://github.com/openzim/libzim/blob/a12d14ae51812938212d11b4f8720036c8e593cf/test/reader.cpp#L93 works in a debug build because the expected exception is generated by an assertion at https://github.com/openzim/libzim/blob/a12d14ae51812938212d11b4f8720036c8e593cf/src/file_reader.cpp#L65

In a release build, the assertion is disabled and the execution proceeds past that point leading

[2022-02-17 14:39] Animeshz opened #671 "Archive test fails on musl-libc."
Test run output:

[code]

Affected file: [test/archive.cpp](https://github.com/openzim/libzim/blob/master/test/archive.cpp)

[2022-02-18 06:57] Animeshz commented on #671
More info from gdb

[code]

[2022-02-18 11:41] Animeshz commented on #671
May I know more about the NoExistant redirection, so that I can help further?

https://github.com/openzim/libzim/blob/67eaa572e655e71bd826012f7d9032360fd97efa/test/archive.cpp#L168

[2022-02-18 11:42] kelson42 commented on #671
@Animeshz Like you see, we don't have tested against musl... but we better should. Woyld be great to have a CI entry for Github actions able to do so.

[2022-02-18 14:09] kelson42 commented on #670
@veloman-yunkan Supportive of this idea.

[2022-02-19 10:41] kelson42 commented on #671
@Animeshz This is a question better @veloman-yunkan or @mgautierfr should answer.

[2022-02-19 16:00] veloman-yunkan commented on #671
The unit-test intentionally adds a redirection to a non-existent entry. During ZIM creation such invalid redirections must be dropped. The unit-test checks that it works as intended. It turns out that with a musl build of libzim it doesn't (provided that your investigation so far has gone in the correct direction)

[2022-02-22 03:17] automactic opened #673 "Is zim::Archive thread safe?"
It seems like one of the biggest change in the new version of libzim & libkiwix is the deprecation of `kiwix::Reader` and `kiwix::Searcher`, in favor of `zim::Archive` and `zim::Searcher` instead.

I currently create one instance of `kiwix::Reader` per zim file and use it through out the lifetime of the app. There are many opportunity where a `kiwix::Reader` instance might be used in a multi threa

[2022-02-22 13:45] mgautierfr commented on #673
`zim::Archive` is thread safe, you can use a archive from different thread.
All search operations (`zim::Searcher`, `zim::Search`, `zim::SuggestionSearcher`, ...) are not. But they do not have any global states, so you can create a `zim::Searcher` by thread if you want to.

It is probably better to have one `Archive` lasting through out the lifetime of the app (or at least for all the readingS of

[2022-02-22 14:51] kelson42 commented on #673
@mgautierfr Could you please put an entry in the READMe explaining what is thread safe and what is not?

[2022-02-23 03:37] automactic commented on #673
@mgautierfr Thanks

[2022-02-23 06:12] kelson42 commented on #673
@mgautierfr Or if this is complex, update the places in the code documentation where this is needed.

[2022-02-27 15:37] data-man commented on #544
The results are updated with the latest versions of libzim and zstd.

[2022-03-12 17:35] kelson42 opened #674 "Main page path given is wrong"
For new ZIM files the main page URL seems to be alwys the same and wrong

See:
[code]

Same with a new Sotoki file:
[code]

[2022-03-12 17:36] kelson42 commented on #674
Reported first by @automactic, seem to be the reason why latest dev version can not open new ZIM files. See as well

Related to https://github.com/kiwix/libkiwix/issues/652

[2022-03-12 18:03] kelson42 commented on #674
Probably this is `W/mainPage` which is meant. See https://wiki.openzim.org/wiki/Well_known_entries

But actually this is pretty useless for the end-use. Probably we should print with `zimdump` the real targeted article?!

[2022-03-12 18:04] rgaudin commented on #674
`mainPage` is always the ZIM homepage on libzim 7 and is  a redirect to the scraper-set home entry.

[code]

Is that reader able to handle redirects on main article?

[2022-03-14 15:35] Hello1024 opened #675 "Add Hierarchical compression."
ZIM currently allows data to be arranged in clusters, which are then compressed.   Large clusters give better compression, while small clusters allow faster access to a random article.

In a future version of the ZIM file format, this tradeoff could be substantially improved by allowing clusters to have an extra field specifying "parent cluster for compression context".

To decode a given cluster,

[2022-03-15 06:26] kelvinhammond opened #676 "Should creator.addMetadata mimetype have a default value?"
https://github.com/openzim/libzim/blob/master/include/zim/writer/creator.h#L147

Should this be
[code]

That or use something like std::optional or a pointer.

[2022-03-15 18:58] Hello1024 commented on #675
Update:    I have re-run the analysis with a smarter 'tree' of clusters, still never decompressing more than 2MB total to access any blob, and we now get a 7.1% decrease in file size.     Alternatively, for a fixed file size, the access speed is now over 4x faster (needing to only decode a maximum of 420kb, vs the 2Mb baseline).

Do these numbers make it worth adding this complexity?

[2022-03-15 19:04] kelson42 commented on #675
I’m interested by this approach. To me it looks similar to what we discussed a feww years ago with https://github.com/openzim/libzim/issues/76.

What is unclear to me is the way to choose the parent cluster for each cluster… in a way that ultimatively it goes faster to decompress in most (if not all) of the scenarios.

[2022-03-15 19:09] kelson42 commented on #676
@mgautierfr Woukd you be able please to help @kelvinhammond ?

[2022-03-16 10:16] mgautierfr commented on #675
This is definitively interesting. Do you have some code (even quick and dirty poc) showing how you regroup the content in clusters and how they are decompressed ?

I see few potential issues with this approach:
- We will need to the "parent cluster" to decompress a child one (but with smaller cluster, we decompress the same size than previously)
- old libzim would not be able to read new zim files

[2022-03-16 10:30] mgautierfr commented on #676
I don't see why we shouldn't have a default value.
We have one for other `addMetadata`, we should have one here also.

@kelvinhammond can you do a PR for this ?

[2022-03-16 10:48] mgautierfr commented on #674
This as been done because the main entry should always be a redirection.
Serving the content of the main page ('/foo/index.html') as the main page ('/') will break all relative links in the page.
So the client MUST get the url of the main page and do a redirection to it.
New zimfile, following the new format convention enforce this by creating the `W/mainPage` which is a redirection to the real ma

[2022-03-16 11:00] kelson42 commented on #674
@mgautierfr @rgaudin Thank you for the clarification. I still believe the value returned by zimdump (libzim) is not really appropriate. Ciukd we get/print the redirect target of W/mainPage?

@automactic Does the anapswers help to fix the problem with macOS?

[2022-03-16 14:25] Hello1024 commented on #675
Here is my quick and dirty POC which compresses and decompresses:   Adjust the compression level on line 20 - most benefits are seen at higher levels, but obviously that's slow for testing.

https://gist.github.com/Hello1024/9cc20300205c6aec214519cf84bbebb3

[2022-03-16 22:25] Hello1024 commented on #675
One potential disadvantage of this approach...

While random access is very fast, decompressing all the data sequentially becomes slow *with API's available in libzstd or liblzma*.

That is because, if one wants to decompress a single entry, one simply decompresses each node from the root to the node you care about.   However, if you want to decompress another node, you theoretically have already

[2022-03-16 23:15] kelvinhammond commented on #676
@mgautierfr https://github.com/openzim/libzim/pull/678

[2022-03-17 03:28] kelvinhammond opened #679 "Is creator.addIllustration size redudant for a ContentProvider?"
https://github.com/openzim/libzim/blob/master/include/zim/writer/creator.h#L163

When passed a `ContentProvider` the method still takes a `size` param when the `provider.size()` should suffice.
Should this be changed?

[2022-03-17 03:45] kelvinhammond commented on #679
Nevermind, I see that size is width of the png, not the file size.

[2022-03-17 03:45] #679 closed

[2022-03-17 04:44] kelvinhammond opened #680 "UUID should support to and from standard uuid formats."
The UUID format should support converting to and from the standard display format(s).
See https://en.wikipedia.org/wiki/Universally_unique_identifier#Format

https://github.com/openzim/libzim/blob/master/src/uuid.cpp

[2022-03-17 04:48] kelson42 commented on #680
I agree with this request, this one I made more than 10 years ago and I still think this would be handy... at least the one to get a printable string.

[2022-03-17 10:57] mgautierfr commented on #680
Despite its name, zim's uuid is only a unique id stored in 128 bits, it is not a standard UUID  (which is also a unique id stored in 128 bits, but with more constraints)
None of the zim's uuid generated by libzim are valid standard UUID.

But anyway, there is already a (two) way(s) to convert a uuid to "standard" formats 8-4-4-4-12 (https://github.com/openzim/libzim/blob/master/src/uuid.cpp#L86-L1

[2022-03-18 06:38] #676 closed

[2022-03-18 06:39] kelson42 commented on #680
@kelvinhammond Good enough?

[2022-03-19 01:08] kelvinhammond commented on #680
I'll bind this to nodejs as is and whatever library wants to use `setUuid` will have to figure out which chars to send. This should suffice.

[2022-03-19 05:54] kelson42 commented on #680
@mgautierfr Would that be a good id that in the future we allow only proper uuids?

[2022-03-24 10:37] #673 closed

[2022-03-26 17:34] kelvinhammond opened #681 "Error on IntegrityCheck COUNT"
[code]

When running:

I'm passing it through node correctly but libzim throws out this error.

Archive created like so https://github.com/openzim/node-libzim/blob/e290e1814ea41a39a911c0290a1a73d472876f15/test/zim.test.ts#L174
Basically it has 10 items, a redirect, an illustration, and some metadata.

[2022-03-27 12:02] veloman-yunkan commented on #681
`IntegrityCheck.COUNT` is not a valid integrity check type. It is an integer constant denoting the count of various check types:

https://github.com/openzim/libzim/blob/4e4ac28f6bf3e4eff4559e7ec938165323028d6c/include/zim/zim.h#L65-L77

[2022-03-27 12:49] kelson42 commented on #681
@veloman-yunkan Thx, this probably needs a clear(er) documentation in the documentation?! https://libzim.readthedocs.io/en/latest/?badge=latest

[2022-03-27 13:17] veloman-yunkan commented on #681
@kelson42 `zim::validate()` (and the related type `zim::IntegrityCheck`) isn't documented at all. Regarding `zim::IntegrityCheck::COUNT`, for those interested the comments in the code should be enough.

[2022-03-27 14:03] kelson42 commented on #681
@veloman-yunkan We do can expect that people read the documentation. We hardly can expect that people read the source code, even the header. Probably a good thing to do would to rewrite these comments in a way that it appears in the documentation too.

[2022-03-27 14:54] veloman-yunkan commented on #681
OK, will do.

[2022-03-27 15:08] kelson42 commented on #681
@kelvinhammond Hope everything is clarified here. Let us know otherwise please.

[2022-03-27 15:09] kelvinhammond commented on #681
Yes

[2022-03-29 10:07] mgautierfr commented on #680
I don't see the added value to this. We would need to depend on a uuid library to generate the uuid (or check it is a valid one) and it would be useless (old zim files would still have invalid uuid so we couldn't convert zim uuid to standard UUID)

[2022-03-30 18:06] veloman-yunkan commented on #681
@kelson42 Done (#682).

[2022-03-31 04:45] kelvinhammond commented on #681
Should I close this issue then?

[2022-03-31 04:47] kelvinhammond opened #683 "Item.getIndexData default implementation calls ContentProvider.feed on main thread"
The `Item.getIndexData` method states that the default implementation will call the `ContentProvider.feed` in a thread other than the main thread but this does not actually happen.

Code:
https://github.com/openzim/libzim/blob/master/include/zim/writer/item.h#L133

I've worked around this by tracking which thread created the contentProvider (which **should** always be the main thread) and handling

[2022-03-31 08:36] kelson42 commented on #681
@kelvinhammond This will be aitomatically closed when documentation PR wull be merged.

[2022-03-31 13:37] mgautierfr commented on #683
It is indeed a bug. We should not call `ContentProvider.feed` in the main thread. It is fixed with #684
Thanks for the report.

Just to be clear, the `ContentProvider` (a call to `zim::writer::Item::getContentProvider()`) is still created in the main thread. What is moved in the worker thread is the calls to `ContentProvider.feed`.

[2022-03-31 13:40] #681 closed

[2022-03-31 14:34] mgautierfr commented on #683
In theory, at least performance impact (has we retrieve the content and parse it in the main thread) and dependently of how user of libzim are constructed maybe some kind of race condition/dead lock.

In practice, not a lot:
- Creator should be prepared to see `ContentProvider.feed` from another thread. If it is call from the main thread it should not be a problem. We could potentially have a mute

[2022-03-31 18:27] #683 closed

[2022-04-08 01:51] kelvinhammond opened #685 "Is the libzim release on github compiled with xapian support?"
I've created a zim file like so (using the bindings for nodejs) but I'm not able to get search working so I wonder if I'm creating the archive correctly.

[code]

[2022-04-08 09:38] mgautierfr commented on #685
You must call [Creator::finishZimCreation](https://libzim.readthedocs.io/en/latest/api/classzim_1_1writer_1_1Creator.html#_CPPv4N3zim6writer7Creator17finishZimCreationEv) at the end before reading the archive.

I'm even surprised you succeed to create a `Archive`/`Searcher` on a non valid zim file (In fact it may not even exists as the creator works on a temporary file "test.zim.tmp" and rename it

[2022-04-08 21:40] kelvinhammond commented on #685
I forgot to include that part in the script above.
[code]

The archive is created successfully and I can open, list items, etc. Its just that when I search there are no results.

[2022-04-12 15:27] mgautierfr commented on #685
There is a fulltext xapian database in the zim file you've provided. But indeed a search return no result.
I'm still looking why.

[2022-04-12 15:34] mgautierfr commented on #685
Can you try with another content ?
In seems that `hello` and `world` are in the xapian stop words and so are exclude from the indexing 😄
Searching for "1" works.

[2022-04-12 18:36] vgbundo opened #686 "Illustration URL does not match zim file format specification"
Libzim appears to be using the url M/Illustration_\<width>x\<height>@\<scale> for illustrations as described in the May 26, 2021 comment to Pull Request 540.  This does not match the Metadata page of the zim file format specification at https://wiki.openzim.org/wiki/Metadata.

[2022-04-12 18:49] kelson42 commented on #686
@vgbundo Which part of the wiki page is not coherent exactly with the code?

[2022-04-12 18:54] kelson42 commented on #389
@legoktm Now that you have even packaged and released on Debian the version 7.2.0 of the libzim, would that be a good time to do this renaming?

[2022-04-12 18:56] vgbundo commented on #686
The specification lists the url for for illustration as "Illustration_[height]x[width]" with no mention of the ***@***.***" part. Leaving the ***@***.***" part off the url causes zimcheck to report a failure.

April 12, 2022 11:49 AM, "Kelson" ***@***.*** ***@***.******@***.***>)> wrote:
	@vgbundo (https://github.com/vgbundo) Which part of the wiki page is not coherent exactly with the code?

	—
R

[2022-04-12 19:14] kelson42 commented on #686
@kelson42 Could you please update the spec with the part about the screen pixel depth?

[2022-04-12 19:49] vgbundo commented on #686
All I know about this is the reference I found to it in mgautierfr's comment on may 26, 2021 to pull request 540 when trying to figure out why zimcheck was failing my zim files (that were created as described by the specification). Based on this, I've found that calling my favicon ***@***.*** fixes this.

However, I don't claim to have a clear understanding of what else can/should be done with thi

[2022-04-12 23:18] kelvinhammond commented on #685
lol, well that worked.
Setting the content to `didney worl ${i}` and then searching for `didney` returns 10 results as expected. thank you.

[2022-04-13 09:12] mgautierfr commented on #686
Spec is updated, see https://wiki.openzim.org/wiki/Metadata#Key
The correct format is indeed `M/Illustration_<width>x<height>@<scale>`.
I have also added few more information about the meaning of `scale`.

Thank @vgbundo.

[2022-04-13 09:12] #686 closed

[2022-04-14 02:37] kelson42 commented on #687
@Popolechien Agree, we will need to change that… but a few other things have to be considered at the same time IMO:
* short/long description /motto new field
* Max size of each field

[2022-04-20 08:03] kelson42 opened #688 "libzim creates (again) invalid title indexes"
We have a new ifixit.com scraper which uses python-libzim. see [openzim/ifixit](https://github.com/openzim/ifixit)

A first test ZIM file has been created withthe Zimfarm and is available at https://mirror.download.kiwix.org/zim/.hidden/dev/ifixit_fr_all_2022-04.zim

But the ZIM file seems to have an invalid structure. Here is the `zimcheck` output:
[code]

Obviously this is a blocker!

[2022-04-20 08:04] kelson42 commented on #688
@mgautierfr @veloman-yunkan Could on of you please have urgently a look to this. Pretty concerned that we have a libzim in the field which creates broken ZIM files.

[2022-04-20 09:29] rgaudin opened #689 "Incorrect getFilesize() result"
[First iFixIt ZIM file](https://download.kiwix.org/zim/.hidden/dev/ifixit_fr_all_2022-04.zim) is 2.22GiB large.

When retrieving libzim-returned filesize via (`getFileSize()`) I get `-1910077255` which is negative 🤨 and even it's absolute value is incorrect: 1910077255b is 1.78 GiB.

[code]

**Note**: I am using python-libzim to access this information so the possibility of a wrapper bug exists al

[2022-04-20 10:08] kelson42 commented on #688
@veloman-yunkan Merci

[2022-04-20 11:03] veloman-yunkan commented on #689
This is due to 32-bit overflow: `1910077255 == 2**32 - 2384890041`

The return type of `zim::Archive::getFilesize()` is `zim::size_type` which is a 64-bit unsigned integer:

https://github.com/openzim/libzim/blob/01081e0e0bc478947028f5f00c159c2475b96f7c/include/zim/archive.h#L118

https://github.com/openzim/libzim/blob/01081e0e0bc478947028f5f00c159c2475b96f7c/include/zim/zim.h#L51

Thus the narrow

[2022-04-20 11:52] benoit74 commented on #688
It's quite a nasty title ^^ But it's the original one unfortunately : https://fr.ifixit.com/Tutoriel/*Read+Windows+EOL+warning*+How+to+install+the+Xbox+One+Wireless+Receiver+1713+on+Windows+7+and+Windows+8.1/102955

[2022-04-20 11:52] veloman-yunkan commented on #688
The previous hypothesis was wrong. The root cause of the problem has something to do with the handling of redirects.

[code]

[2022-04-20 11:57] veloman-yunkan commented on #688
Or else the zeros in the title index are a result of some kind of memory/storage corruption.

[2022-04-20 12:23] veloman-yunkan commented on #688
The value `0` occurs in the title index 1440 times.

[2022-04-20 12:46] kelson42 commented on #688
@veloman-yunkan Ouch... was kind of hoping this was a bug in the checking part of the algorithm :( Good luck for next steps.

[2022-04-20 13:04] benoit74 commented on #688
@veloman-yunkan : Are you sure it is not 144**2** times?
If so, I have the explanation: https://github.com/openzim/ifixit/issues/49

[2022-04-20 13:15] mgautierfr commented on #688
This is probably the issue.
We should mark the `existing` dirent  as removed in https://github.com/openzim/libzim/blob/master/src/writer/creator.cpp#L496-L498 (the same way we do in resolveRedirecIndexes when we remove dirents https://github.com/openzim/libzim/blob/master/src/writer/creator.cpp#L626)

This way we will exclude removed dirent from the title index : https://github.com/openzim/libzim/

[2022-04-20 13:34] benoit74 commented on #688
Mmm, the existing dirent is here for real and it is legit, it is not
removed and must be in the index as far as I have understood. It is more
that when we try to add the a second one, the entry is not added (since
duplicate) but it is still present in the index. So we have one with the
appropriate index, one with 0.

You can reproduce the bug very easily by adding twice the same entry I
believe. Y

[2022-04-20 14:13] mgautierfr commented on #688
@veloman-yunkan I've made a PR already (#690)
But thanks for you investigation, it's paved the way to the fix.

[2022-04-20 16:27] veloman-yunkan commented on #688
@benoit74 No, the count of zeros in the title index is 1440. But it's wonderful that you could link it to the count of errors in the ZIM creation log.

[2022-04-21 16:19] #688 closed

[2022-04-28 02:23] kelvinhammond opened #692 "addItem calls a thread and that thread waits for the main thread"
Hello,

I'm working on https://github.com/openzim/node-libzim/pull/72 and I noticed that after 10 items are inserted (before calling `finishZimCreation`) via `creator.addItem` on the main thread that a call is made via a thread to the main thread's creator.feed before that function returns.

In nodejs there is an event loop which handles async operations. The problem with the main thread -> thread

[2022-04-28 03:51] kelvinhammond commented on #692
I debugged a bit more

[code]

If I look at the call to [`CreatorData::addItemData`](https://github.com/openzim/libzim/blob/master/src/writer/creator.cpp#L535) I can see the call to `closeCluster` which then calls `https://github.com/openzim/libzim/blob/48d16bd4e40eb4526c53082b8c4bceaf5b7401d4/src/writer/queue.h#L63` which sleeps the thread until the writer is done. How for nodejs this effectively

[2022-04-28 13:21] mgautierfr commented on #692
Which version of libzim are you using ? Please use nigthly to have https://github.com/openzim/libzim/pull/684

[2022-04-29 16:32] kelson42 opened #693 "Release 7.2.1"
- [x] Secure the CI is green on git `master`
- [x] Kiwix-Build is OK
- [x] Update the Changelog
- [x] Update version
- [x] Close current milestone and create new one incrementaly (_a priori_ a minor version)
- [x] Create a tag on git
- [x] Secure new source/sbinaries are published on https://download.openzim.org/release/libzim/
- [x] Update the Github release with the Changelog
- [ ] Create new em

[2022-05-03 05:31] kelson42 commented on #692
@kelvinhammond Any feedback on this? We want to release 7.3.0 and this is essential libzim works fine for node-libzim.

[2022-05-04 06:11] kelvinhammond commented on #692
I'll try the latest, I believe I'm on 7.2.0.

The treading issue here is during addItem libzim tries to wait until the queue has finished processing some items before it continues and blocks the main thread. I'll likely work around this somehow by calling addItem from a worker thread so it doesn't block the main thread's event loop. Which kind of defeats the purpose of addItem waiting in the queue

[2022-05-04 13:25] mgautierfr commented on #692
I think master will not help here.
We have some kind of mutual lock. I suppose it is because js is not multithreaded and especially how js/you handle multithreading coming from libzim library.

<table>
<tr>
    <td> Main thread
    <td> Working thread
<tr>
	<td>
      <ul>
        <li> js call `addItem`
        <li> libzim (in `addItem`) check there is room in queue (10 places in total) and add ta

[2022-05-07 04:59] kelson42 commented on #693
@mgautierfr When you make a release, please update the release ticket. Here we have failed to build libzim for macOS and I wonder why the CI pass but we fail at release time.

[2022-05-07 18:26] kelvinhammond commented on #692
@mgautierfr I moved the `addItem` call to an `AsyncWorker`. This means I had to call back to `indexData` and `contentProvider` from the main thread too though since `addItem` was done on a thread. This works fine for now, I am currently debugging issues related to nodejs thread errors somewhere :/

[2022-05-07 18:33] kelson42 commented on #692
@kelvinhammond Good news, I guess that means we can close this ticket?

[2022-05-15 12:07] kelson42 commented on #692
@kelvinhammond Libzim 7.2.1 has been release. Closing this ticket.

[2022-05-15 12:07] #692 closed

[2022-05-15 12:08] #693 closed

[2022-05-16 14:10] kelson42 opened #698 "Release 7.2.2"
- [x] Secure the CI is green on git `master`
- [x] Kiwix-Build is OK
- [x] Update the Changelog
- [x] Update version
- [x] Close current milestone and create new one incrementaly (_a priori_ a minor version)
- [x] Create a tag on git
- [x] Secure new source/sbinaries are published on https://download.openzim.org/release/libzim/
- [x] Update the Github release with the Changelog
- [ ] Create new em

[2022-05-19 05:56] #698 closed

[2022-05-26 19:14] kelson42 commented on #680
@mgautierfr The `README.md` states tha we already depends of libuuid? Is that true? I don’t see any trace of a check in the Meson configuration file!

[2022-05-27 07:49] mgautierfr commented on #680
It is false. We don't use libuuid.

[2022-05-27 14:49] kelson42 commented on #680
@kelvinhammond It seems we have a way in the libzim to print the UUID. Does the answer of @mgautierfr is satisfying to you?

[2022-05-27 14:58] #396 closed

[2022-05-27 14:59] kelson42 opened #702 "Add linux-aarch64 to CI"
Depends on https://github.com/kiwix/kiwix-build/issues/549

[2022-06-03 19:04] mossroy commented on #643
I confirm it's now possible to compile libzim with emscripten without the need to patch it.
I just did it with libzim 7.2.2
Thanks!

[2022-06-04 14:14] kelson42 opened #705 "Test in CI compilation with emscripten"
See also https://github.com/kiwix/kiwix-build/issues/503

[2022-06-29 15:33] wsdookadr opened #707 "Undocumented maximum number of mime types in a ZIM file (?)"
I'm using warc2zim in practice to convert a WARC with around 1M+ records to ZIM.
The contents of the WARC are from a lot of different sites. I'm using libzim through warc2zim for this.
The WARC itself has been growing over the past week as I've collected more data, until recently warc2zim has thrown the following error:

I've had a look [at the line](https://github.com/openzim/libzim/blob/a2397461

[2022-06-29 16:39] mgautierfr commented on #707
There are two limitation about mimetypes:
- A hard limitation from the format. Mimetypes are stored in a list, and are indexed by entries. The index is a u16, so the maximum number of mimetype is 2^16 (minus 3 reserved values), so 65 533
- A soft limitation from the libzim implementation. To avoid complex intermediate steps as zim creation, we reserve some space to store the mimetype list. This va

[2022-06-30 09:23] veloman-yunkan commented on #671
The crash is caused by a bug in `musl` which doesn't correctly handle exceptional executions of [`std::call_once`](https://en.cppreference.com/w/cpp/thread/call_once), as demonstrated by the following test program:

[code]

Under alpine:

[code]

Under Ubuntu the same test program uncovers another bug with the handling of exceptional executions of `std::call_once`:

[code]